/**
 * File: Activity.scss
 * Description : Contains all styling for the BuddyPress activity
 * Author: Mr.Vibe 
 * Credits: www.VibeThemes.com
 * Project: ELEARNING
 * version 2.0
 **/
/*========================================================================*/
/*   TABLE OF CONTENT
/*========================================================================*/
/*
/*    01. GLOBAL STYLING
/*    02. TYPOGRAPHY STYLING
/*    03. FORMS STYLING
/*    04. SELECT DROPDOWN
/*    05. LINKS STYLING
/*    06. LISTS STYLING
/*    07. PAGE BLOCKS
/*    08. MISCELLANEOUS
/*
/*========================================================================*/
/*   01. DEFAULT STYLING 
/*========================================================================*/



.activity-permalink{
	.activity-avatar{    
		max-width: 80px;
	    float: left;
	    border-radius: 50%;
	    overflow: hidden;
    }
    .activity-comments{
    	.acomment-avatar{
    		width:64px;
    		border-radius:50%;
    		overflow:hidden;
    		float:left;
    	}
    	.acomment-meta,.acomment-content,.acomment-options{
    		margin-left:80px;
    	}
    }
}

/*========================================================================*/
/*   01. ACTIVITY FORM
/*========================================================================*/


#buddypress{
	.home-page{
		form#whats-new-form {
			border-bottom: none;
			padding-bottom: 0;
		}
	}	
	form#whats-new-form{

		#whats-new-avatar {
			float: left;
			margin:10px 20px 0 0;
			max-width: 72px;
			img{
				border-radius:50%;
			}
		}
		#whats-new-content {
			margin-left: 75px;
			padding: 0 0 20px 20px;
		}
		#aw-whats-new-submit,
		#buddydrive-btn{
			float:right;
			margin-left:5px;
			height:36px;
			padding-top:5px;
			line-height:1.6;
		}
		p.activity-greeting {
			line-height: 1.3em;
			font-size:32px;
			font-weight:600;
			margin-bottom: 15px;
			margin-left: 75px;
		}

		textarea {
			background: #fff;
			color: #444;
			font-family: inherit;
			font-size: 90%;
			height: 30px;
			padding: 6px;
			width: 100%;
			border:1px solid $bordercolor;
			&:focus {
				border-color: rgba(31, 179, 221, 0.9) !important;
				outline-color: rgba(31, 179, 221, 0.9);
			}
		}
		#whats-new-options{
			overflow: auto;
			height:auto !important;
			select {
				margin-top: 6px;
			}
		} 
		#whats-new-submit {
			float: right;
			margin-top: 6px;
			margin-right: 15px;
		}
	}
}  


body.no-js #buddypress form#whats-new-form textarea {
	height: 50px;
}



#buddypress{
	#item-body{
		form#whats-new-form {
			margin: 0px;
			padding: 0;
			width:100%;
			display: inline-block;
			#whats-new-options{
				height:auto !important;
			}
		}
	}	
}  


/*========================================================================*/
/*   01. ACTIVITY STREAM
/*========================================================================*/

#buddypress{
	#activity-stream {

	}	
	ul.activity-list{

		li {
			overflow: hidden;
			padding: 15px 0 0;
			list-style: none;

			.activity-avatar {
				float: left;
				margin-top:10px;
				max-width:64px;
				border-radius:50%;
				overflow:hidden;
			}
			&.has-comments {
				padding-bottom: 15px;
			}
			&.mini{
				position: relative;
				.activity-avatar{
				}
			}
			.activity-content {
				position: relative;
				margin: 0 0 0 80px;
				p{
					margin: 0;
				}
			}
			.activity-inreplyto{

				blockquote,
				.activity-inner {
					background: none;
					border: none;
					display: inline;
					margin: 0;
					overflow: hidden;
					padding: 0;
				}
			} 
			.activity-header,.activity-header p,.comment-header,.comment-header p {
				opacity: 0.8;
				font-size: 11px;
				text-transform: uppercase;
			}
			.activity-inner,blockquote {
				margin: 10px 10px 5px 0;
				overflow: hidden;
			}
			.activity-header {
				margin-bottom: 10px;
				img.avatar {
					float: none !important;
					margin: 0 5px -8px 0 !important;
				}
				& + .activity-inner{
					margin:0;
					table{
						margin-bottom:15px;
						td img{
							padding:0 15px 0 0;
						}
					}
				}
			}
			.activity-header a,.comment-meta a,.acomment-meta a {
				text-decoration: none;
			}
			.activity-meta{
				.button.item-button.bp-secondary-action.delete-activity{
					background:none;
					border:none;
					color:$secondarybg;
				}
			}
		}
		.activity-comments{
			clear:both;
			margin-left:80px;
			ul{	  
				margin:0;
			    padding: 15px;
		  	    background:$title-bg;
				border-radius: 4px;
				li{
					padding:0;
				}
				.acomment-content{
					  padding-left: 64px;
					  line-height: 1.6;
				}  
				.acomment-meta{
				    font-size: 11px;
				    text-transform: uppercase;
				    opacity: 0.8;
				}
				.acomment-avatar{
					display: inline-block;
					float: left;
					border-radius: 50%;
					overflow: hidden;
					margin:0 15px 15px 0;
					img{
						width: 48px;
				  		height: 48px;
				  		display:block;
				  		border-radius: 50%;
					}
				}
				.acomment-options{
					padding-left: 64px;
					a{
						font-size: 11px;
						text-transform: uppercase;
						font-weight: 600;
						padding: 0 2px;
						&.delete.acomment-delete{
							background:none;
							color:$secondarybg;
						}
					}
				}
			}
		}
	} 

} 

.ac-form{
	display:none;
	margin-top:30px;
	padding:30px;
	background:$title-bg;
	border-radius:4px;
	transition: all 0.2s ease-in-out;
	.ac-reply-avatar{
		  display: inline-block;
		  float: left;
		  border-radius: 50%;
		  overflow: hidden;
		  margin:0 15px 15px 0;
		  	img{
		  		width: 48px;
		  		height: 48px;
		  		display:block;
		  		border-radius: 50%;
		  	}
	}
	.ac-reply-content{
		margin-left:80px;
		font-size: 11px;
    	text-transform: uppercase;
		.ac-textarea{
			margin-bottom:15px;
			font-size:14px;
		}
		input[type="submit"]{
			text-transform: uppercase;
			font-weight:600;
		}
	}
	#whats-new-submit{
		float:right;
	}
	textarea{
		width: 100%;
  		height: 40px;
  		border:1px solid $bordercolor;
  		transition: all 0.2s ease-in-out;
  		&:focus{
  			height:60px;
  		}
	}
}

body.activity-permalink #buddypress ul.activity-list li.has-comments {
	padding-bottom: 0;
}

/*========================================================================*/
/*   01. SINGLE ACTIVITY 
/*========================================================================*/


body.activity-permalink{
	.activity-list{
		li{
			&.mini{
				.activity-avatar{
					.avatar{
						height: auto;
						margin-left: 0;
						width: auto;
					}
				}
			}
			&:first-child{
				padding-top: 0;
			}
			.activity-header{
				& > p{
					margin: 0;
					padding: 5px 0 0 0;
				}
			}
			.activity-content {
				border: none;
				font-size: 100%;
				margin-left: 100px;
				margin-right: 0;
				padding: 0;
				.activity-inner{
					margin-left: 0;
					margin-top: 5px;
				}
			}
		}
	}
}



.load-more{
	a {
		padding: 10px 15px;
		width:100%;display:block;
		border-radius:2px;cursor:pointer;
		font-size:12px;text-transform:uppercase;
		text-align: center;
		background:$bordercolor;font-weight:600;
		&:hover{
			background:#78c8c9;
			color:#FFF;
		}
	}
} 


/*========================================================================*/
/*   01. SINGLE ACTIVITY VIEW
/*========================================================================*/

.buddypress.activity .activity.no-ajax ul#activity-stream{padding-top:150px;}

body.activity-permalink{
	.activity{
		max-width: 80%;
		margin: 30px auto;
	}	

	.activity-comments{
		clear: both;
		display: inline-block;
		width: 100%;
		ul{
			margin-left:80px;
		    margin-top: 15px;
		    border-top: 1px solid $bordercolor;
		    padding-top: 15px;
		    li+li{
				clear:both;
				margin-top:15px;
			}
		}

		.acomment-meta{
			font-size: 11px;
			color: #BBB;
			text-transform:uppercase;
			font-weight: 600;
			a{color:#bbb;}
		}
	}
	.ac-form{
		display: inline-block;
		margin: 15px 0;
		padding: 10px 0;
		width: 100%;
		color:#bbb;
		input[type="submit"]{
			margin-top:20px;
			padding: 6px 12px;
			font-size: 11px;
			line-height: 1.6;
			font-weight: 600;
			text-transform: uppercase;
			background-color:#78c8ce;
			color: #FFF;
			border: none;
			border-radius: 2px;
		}
	}
	.ac-reply-avatar{
		float: left;
		max-width: 80px; 
		img{border-radius: 50%; }
	}
	.ac-reply-content{
		margin-left:100px;
	}
} 



/*========================================================================*/
/*   01. ACTIVITY COMMENTS
/*========================================================================*/

