/**
 * File: General.scss
 * Description : Contains all general styling for the ELEARNING
 * Author: Mr.Vibe 
 * Credits: www.VibeThemes.com
 * Project: ELEARNING
 * version 2.0
 **/
/*========================================================================*/
/*   TABLE OF CONTENT
/*========================================================================*/
/*
/*    01. HEADER STYLING
/*    02. PROFILE HEADER
/*    03. GROUP HEADER
/*    04. HEADER AVATAR
/*    05. LINKS STYLING
/*    06. LISTS STYLING
/*    07. PAGE BLOCKS
/*    08. MISCELLANEOUS
/*
/*========================================================================*/
/*   01. DEFAULT STYLING 
/*========================================================================*/




/*========================================================================*/
/*   01. HEADER AVATAR
/*========================================================================*/


#buddypress img.wp-smiley {
	border: none !important;
	clear: none !important;
	float: none !important;
	margin: 0 !important;
	padding: 0 !important;
}



#buddypress{
 	div#item-header{

 		#item-header-avatar{
			border-radius: 2px;
			width:100%;
		    overflow: hidden;
			border-bottom:2px solid $primarybg;
		}
	 	ul{
	 		li{
	 			float: left;
				list-style: none;
	 		}
	 		span,hr,h5{
	 			display: none;
	 		}
	 		img.avatar,
	 		&.avatars img.avatar {
				height: 48px;
				margin: 2px;
				width: 48px;
				border-radius: 40px;
				border: 2px solid rgba(0,0,0,0.1);
			}
	 	}
	 	ul.item-list{
	 		h4{
				font-size:14px;
			}
	 	}
	 	div.generic-button,a.button {
			float: left;padding:0;
			margin: 5px 5px 0 0;
		}
		div#message.info {
			line-height: 80%;
		}
		div#item-header-content{
			padding:20px 20px 10px;
			font-size:12px;
			color:#FFF;
			h3{
				font-weight:600;
				margin:15px 0 0;
				display:inline-block;
				color:#FFF;
				display:block;
				line-height:1.2;
				a{color:#FFF;font-weight:600;word-break:break-word;}
			}
			h2 {
				line-height: 120%;
				margin: 0 0 15px 0;
				a {
					color: #777;
					text-decoration: none;
				}
				img.avatar {
					width:100%;
					height:auto;
					border-radius:2px;
				}
				span.highlight {
					font-size: 11px;
					font-weight: normal;
					vertical-align: middle;
					display: inline-block;
					span{
						background: #a1dcfa;
						color: #fff;
						cursor: pointer;
						font-weight: bold;
						font-size: 80%;
						margin-bottom: 2px;
						padding: 1px 4px;
						position: relative;
						right: -2px;
						top: -2px;
						vertical-align: middle;
					}
				}
			}
			.location{
				margin: 0;
				font-size: 11px;
				font-weight: 600;
				text-transform: uppercase;
			}
			span.highlight{
				a{
					color:#FFF;
				}
			}
		}
		#latest-update{
			opacity:0.7;
			h6{
				font-size:12px;
				color:#FFF;
				font-weight:600;
				a{
					font-size:11px;
					text-transform: uppercase;
					color:$primarybg;
					font-weight:600;
				}
			}
			&:hover{
				opacity:1;
			}
		} 
		.activity+div#item-meta{width:100%;}
		div#item-meta {
			color: #FFF;
			font-weight:600;
			overflow: hidden;
			margin: 5px 0;
			.students{
				margin-top:10px;
				i{
					float:left;
					font-size:16px;
					margin-right:8px;
				}
			}
		}
		div#item-actions {
			margin: 5px 15px;
			color:#FFF;
			h3 {
				margin: 0 0 5px 0;
				color: #FFF;
				font-size: 14px;
				text-transform: uppercase;
				font-weight: 600;
			}
		}
		ul {
			margin-bottom: 15px;
			overflow: hidden;
		}
 	} 
}



