/**
 * File: General.scss
 * Description : Contains all general styling for the ELEARNING
 * Author: Mr.Vibe 
 * Credits: www.VibeThemes.com
 * Project: ELEARNING
 * version 2.0
 **/
/*========================================================================*/
/*   TABLE OF CONTENT
/*========================================================================*/
/*
/*    01. GLOBAL STYLING
/*    02. TYPOGRAPHY STYLING
/*    03. FORMS STYLING
/*    04. SELECT DROPDOWN
/*    05. LINKS STYLING
/*    06. LISTS STYLING
/*    07. PAGE BLOCKS
/*    08. MISCELLANEOUS
/*
/*========================================================================*/
/*   01. DEFAULT STYLING 
/*========================================================================*/



/*--------------------------------------------------------------
3.10 - Extended Profiles
--------------------------------------------------------------*/


#buddypress {
	.profile{
		h4 {
			margin-bottom: auto;
			margin: 0 0 15px 0;
			padding:0 0 15px;
			border-bottom:1px solid $bordercolor;
			font-weight: 600;
			text-transform: uppercase;
		}
		input[type="text"],
		select,textarea{
			width:100%;
		}
		.profile-fields{
			width:100%;
		
			.label{
				padding:0 30px 0 0;
				font-size:inherit;
				color:inherit;
			    min-width: 180px;
			    display: inherit;
			    text-align: start;
			    width:50%;
			    word-wrap:break-word;
			}

			.data{
				width:50%;
			}
		}
		.description{
		    opacity: 0.6;
    		font-size: 90%;
		}
	}
	.field-visibility-settings {
		display: none;
		margin-top: 10px;
	}
	.current-visibility-level {
		font-weight: bold;
		font-style: normal;
	}
	.field-visibility-settings,
	.field-visibility-settings-toggle,
	.field-visibility-settings-notoggle {
		color: $light-text-color;
		font-size:11px;
		text-transforum:uppercase;
	}
	#profile-edit-form{
		ul.button-nav {
			margin-top: 15px;
		}
	}
	.action .button,	
		.button.confirm{
		font-size:11px !important;
		font-weight:600;
		padding:4px 12px !important;
		letter-spacing: 0;
		margin:0 2px;
	}
}


.bp-widget+.bp-widget{
	margin-top:15px;
}

body.no-js #buddypress .field-visibility-settings-toggle,
body.no-js #buddypress .field-visibility-settings-close {
	display: none;
}

body.no-js #buddypress .field-visibility-settings {
	display: block;
	}


body.register #buddypress div.page ul {
	list-style: none;
}
#buddypress .standard-form .field-visibility-settings label {
	margin: 0;
	font-weight: normal;
}
#buddypress .field-visibility-settings legend,
#buddypress .field-visibility-settings-toggle {
	font-style: italic;
}


.bp-user.p3{
	#buddypress{
		div#item-header{
			#item-header-avatar{
				overflow:visible;
			}
		} 
	} 
}

.bp-user.p4{
	#item-header{
	    border-left: none !important;
    	border-right: none !important;
	}
}
/*========================================================================*/
/*   01. BADGES & CERTIFICATIONS
/*========================================================================*/

#item-body{
	.badges,	
	.certifications{
		clear:both;
		margin:0 0 30px;
		display: inline-block;
		width:100%;position: relative;
		h6{
			padding-bottom:10px;
			margin:0 0 10px 0;
			border-bottom:3px solid $bordercolor;
			font-weight:600;
			text-transform: uppercase;
		}
	}
	.badges{
		& > ul > li{
			max-width: 64px;
			float:left;
			display: inline-block;
			margin:0 10px 10px 0;
		}
	} 
	.certifications{
		ul.slides>li{
			border: 1px solid $bordercolor;
			border-radius: 2px;
			max-width: 20%;
			padding: 10px;
			color:#bbb;
			font-size: 12px;
			text-transform: uppercase;
			float: left;
			margin: 0 10px 10px 0;
		}
		li{
			i{
				float:left;
				font-size:32px;
			}
			a{
				font-weight:600;
			}
		}
		.flex-direction-nav{
			.flex-next,.flex-prev{
				position: absolute;
				top:8px;
				right:0;
				& > i{
					font-size:14px;
				}
			}
			.flex-prev{right:24px;}
		}
	}
	ul.item-list{
		li{
			width:100%;
		}
	}
} 

.mfp-with-zoom.center-aligned .mfp-content{text-align: center;}

.certifications+.profile{
	margin-top:30px;
	clear:both;
	display: inline-block;
	width:100%;
}

/*========================================================================*/
/*   01. Profile versions
/*========================================================================*/

.bp-user.p2,
.bp-user.p3,
.bp-user.p4{

	#buddypress{
		div.item-list-tabs#object-nav{
			overflow:visible;
			li{
				width:auto;
				border:none;
				position:relative;
				a{
					padding:15px 20px;
					letter-spacing:1px;
					span{
					    margin-left: 15px;
					}
					&:hover{
						opacity:0.6;
					}
				}
				.flexMenu-popup{
					left:0;
					top:100%;
				    z-index: 99;
				    background:#313B3D;
				    margin: 0;
				    padding: 0;
					li{
						width: 180px;
						a{
							width:100%;
						}
					}
				}
				&.flexMenu-viewMore > a:before {
				    content: "\f0c9";
				    font-family: 'fontawesome';
				    padding-right: 5px;
				}
			}
		} 
		div#item-header{
			overflow:visible;
			#item-header-avatar{
				border:none;
				img{
					border-radius:4px;
				}
			}
		} 
	}
	#content #buddypress{
		margin-top:0;
		.member_header{
			#item-header{
				padding:30px 0;
			}
		}
	}

}

.bp-user{
	#buddypress .item-list-tabs#subnav{
		padding-bottom:0;
	 	ul li{
			a{
				padding:10px;
			}
		}
	}
}

.bp-user.p3,.bp-user.p4{
	#item-header-avatar{
		margin-bottom:30px;
		a{
			width:100%;
    		display: inline-block;
		}
	}
	#item-nav{
		z-index:9;
		&+.container{
			z-index:0;
		}
	}
	#item-body{
		position:relative;
		.item-list-tabs#subnav{
			border:none;
			ul{
				li{
					width:auto;
					clear:both;
					border:none;
					a{
						border: none;
					    padding: 15px 0;
					    width:100%;
					    letter-spacing:1px;
					    text-align: left;
					}
					&.current.selected{
						a{
							background:none;
							color:$primarybg;
						}
					}
				}
			}
		}
	}
}


.bp-user.p3{
	#item-header-avatar{
		margin-bottom: 0px;
		a{
			margin-bottom: -60px;
		}
	}
	#item-body{
		.col-md-3 .item-list-tabs#subnav{
			ul{
				li{
					width:100% !important;
				}
			}
		}
		.item-list-tabs#subnav ul li{
			clear:none;
		}
	}
}
.bp-user.p4{
	.member_header{
		text-align:center;
		#item-header-avatar{
			a{
				margin:0;
				img{
					border-radius:50% !important;
				}
			}
		}
		#item-buttons{display:inline-block;}
	}
	#item-body{
		.item-list-tabs#subnav{
			ul{
				li{
					display:inline-block;
					width:auto;
					clear:none;
					float:left;
					a{
						padding:15px;
					}
					&.last{float:right;}
				}
			}
		}  
	} 
}
#item-body{
	.pmpro_box{
		table{
			thead,
			tr{
				border-bottom:1px solid $bordercolor;
				th,td{
					padding:10px 0;
				}
			}
		}
	}	
}


table.notification-settings{
	width:100%;
	th.yes, th.no, td.yes, td.no {
	    width: 20%;
	}	
} 
table.profile-settings{width:100%;}

#friend-list{
	.item-avatar{
	    float: left;
	    max-width: 64px;
	    border-radius: 50%;
	    margin-right: 15px;
	}
}
#group-list.invites{
	.item-avatar{
		float:left;
	    max-width: 64px;
	    margin-right: 15px;
    }
}

table.profile-fields{
	td.name{
		width:40%;
		padding-right:20px;
	}
}