/**
 * File: registration.scss
 * Description : BuddyPress Registration page
 * Author: Mr.Vibe 
 * Credits: www.VibeThemes.com
 * Project: ELEARNING
 * version 2.0
 **/
/*========================================================================*/
/*   TABLE OF CONTENT
/*========================================================================*/
/*
/*    01. DEFAULT STYLING
/*    02. REGISTRATION SECTION
/*
/*========================================================================*/
/*   01. DEFAULT STYLING 
/*========================================================================*/



label.short span{
	color:#FF0000;
}
label.weak span{
	color:orange;
}
label.good span{
	color:#2D98F3;
}
label.strong span{
	color: limegreen;
}

/*========================================================================*/
/*   02. REGISTRATION SECTION
/*========================================================================*/

.register-section{
	clear:both;
	margin:0;
	padding:5px 0;
	h4{
		font-weight:600;
		text-transform: uppercase;
		position: relative;
		cursor:pointer;
		&:hover{
			color:#78c8ce;
		}
		&.editfield,&+ label{
			margin-top:30px;
		}
		&:after{
			content: "\e092";
			position: absolute;
			right:0;
			top:0;
			font-size:18px;
			font-family: "fonticon";
		}
		&.show:after{
			content: "\e05d" !important;
		}
	}
	.editfield{
		.checkbox,
		.radio{
			display: block;
			margin:5px 0;
			.label{
				display: block;
				margin-bottom:5px;
				padding:0;
				color:#444;
				font-size:100%;
			}
			input{
				margin-bottom:5px;
			}
		}
		select{
			width:100%;
		}
		textarea{
			width:100%;
			border:1px solid $bordercolor;
		}
		.field-visibility-settings-toggle{
			font-size:11px;
			text-transform:uppercase;
			color:$light-text-color;			
		}
		.error {
		    background: #f9edbe;
		    color:#222;
		}

	}
	
	& +.register-section{
		border-top:1px solid $bordercolor;
		border-bottom:1px solid $bordercolor;
		h4:after{
			content: "\e092";
		}
	} 
	#account_password_field label,
	label{
		width:100%;
		position: relative;
		span{
			float:right;
			font-size:12px;
			text-transform: uppercase;
			font-weight: 600;
			position: absolute;
		  	top: 0;
		  	right: 20px;

		}
	}
	.short,.weak,.good,strong{
		span{padding:2px 5px; background:#FFF;}
	}
	&+.submit{margin-top:30px;}
}

#basic-details-section > .editfield:nth-child(4){
	float:left;
	width:50%;
	padding-right:30px;
}
#basic-details-section > .editfield:nth-child(5){
	width:50%;float:left;margin-bottom: 30px;
}

.editfield{
	input[type="text"],input[type="password"],
	input[type="email"],input[type="password"],textarea{
		width:100% !important;    
		padding: 12px;
		&+span{position:relative !important;top:auto;left:auto;}
	}
	input[type=radio]{
		width:auto;margin-right: 20px; position: relative; clear: both;
		&+span{
			float:none;top:auto;right:auto;position:relative;
		}
	}
}

#account_password_field label span{
	top: 32px;
  	right: 40px;
}

@media (max-width:768px){
	#basic-details-section > .editfield:nth-child(5),
	#basic-details-section > .editfield:nth-child(4){width:100%;padding-right:0;float:none;clear:both;}
}