/*========================================================================*/
/*   TABLE OF CONTENT
/*========================================================================*/
/*
/*		01. CAROUSELS
/*		02. BUDDYPRESS
/*		03. GENERAL
/*
/*========================================================================*/
 

 /*******************************************************************************
 *              bootstrap-rtl (version 3.3.4)
 *      Author: Morteza Ansarinia (http://github.com/morteza)
 *  Created on: August 13,2015
 *     Project: bootstrap-rtl
 *   Copyright: Unlicensed Public Domain
 *******************************************************************************/

/*========================================================================*/
/*   01. BOOTSTRAP
/*========================================================================*/

html{direction:rtl}body{direction:rtl}.flip.text-left{text-align:right}.flip.text-right{text-align:left}.list-unstyled{padding-right:0;padding-left:initial}.list-inline{padding-right:0;padding-left:initial;margin-right:-5px;margin-left:0}dd{margin-right:0;margin-left:initial}@media (min-width:768px){.dl-horizontal dt{float:right;clear:right;text-align:left}.dl-horizontal dd{margin-right:180px;margin-left:0}}blockquote{border-right:5px solid #eee;border-left:0}.blockquote-reverse,blockquote.pull-left{padding-left:15px;padding-right:0;border-left:5px solid #eee;border-right:0;text-align:left}.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{float:right}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{left:100%;right:auto}.col-xs-pull-11{left:91.66666667%;right:auto}.col-xs-pull-10{left:83.33333333%;right:auto}.col-xs-pull-9{left:75%;right:auto}.col-xs-pull-8{left:66.66666667%;right:auto}.col-xs-pull-7{left:58.33333333%;right:auto}.col-xs-pull-6{left:50%;right:auto}.col-xs-pull-5{left:41.66666667%;right:auto}.col-xs-pull-4{left:33.33333333%;right:auto}.col-xs-pull-3{left:25%;right:auto}.col-xs-pull-2{left:16.66666667%;right:auto}.col-xs-pull-1{left:8.33333333%;right:auto}.col-xs-pull-0{left:auto;right:auto}.col-xs-push-12{right:100%;left:0}.col-xs-push-11{right:91.66666667%;left:0}.col-xs-push-10{right:83.33333333%;left:0}.col-xs-push-9{right:75%;left:0}.col-xs-push-8{right:66.66666667%;left:0}.col-xs-push-7{right:58.33333333%;left:0}.col-xs-push-6{right:50%;left:0}.col-xs-push-5{right:41.66666667%;left:0}.col-xs-push-4{right:33.33333333%;left:0}.col-xs-push-3{right:25%;left:0}.col-xs-push-2{right:16.66666667%;left:0}.col-xs-push-1{right:8.33333333%;left:0}.col-xs-push-0{right:auto;left:0}.col-xs-offset-12{margin-right:100%;margin-left:0}.col-xs-offset-11{margin-right:91.66666667%;margin-left:0}.col-xs-offset-10{margin-right:83.33333333%;margin-left:0}.col-xs-offset-9{margin-right:75%;margin-left:0}.col-xs-offset-8{margin-right:66.66666667%;margin-left:0}.col-xs-offset-7{margin-right:58.33333333%;margin-left:0}.col-xs-offset-6{margin-right:50%;margin-left:0}.col-xs-offset-5{margin-right:41.66666667%;margin-left:0}.col-xs-offset-4{margin-right:33.33333333%;margin-left:0}.col-xs-offset-3{margin-right:25%;margin-left:0}.col-xs-offset-2{margin-right:16.66666667%;margin-left:0}.col-xs-offset-1{margin-right:8.33333333%;margin-left:0}.col-xs-offset-0{margin-right:0;margin-left:0}@media (min-width:768px){.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{float:right}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{left:100%;right:auto}.col-sm-pull-11{left:91.66666667%;right:auto}.col-sm-pull-10{left:83.33333333%;right:auto}.col-sm-pull-9{left:75%;right:auto}.col-sm-pull-8{left:66.66666667%;right:auto}.col-sm-pull-7{left:58.33333333%;right:auto}.col-sm-pull-6{left:50%;right:auto}.col-sm-pull-5{left:41.66666667%;right:auto}.col-sm-pull-4{left:33.33333333%;right:auto}.col-sm-pull-3{left:25%;right:auto}.col-sm-pull-2{left:16.66666667%;right:auto}.col-sm-pull-1{left:8.33333333%;right:auto}.col-sm-pull-0{left:auto;right:auto}.col-sm-push-12{right:100%;left:0}.col-sm-push-11{right:91.66666667%;left:0}.col-sm-push-10{right:83.33333333%;left:0}.col-sm-push-9{right:75%;left:0}.col-sm-push-8{right:66.66666667%;left:0}.col-sm-push-7{right:58.33333333%;left:0}.col-sm-push-6{right:50%;left:0}.col-sm-push-5{right:41.66666667%;left:0}.col-sm-push-4{right:33.33333333%;left:0}.col-sm-push-3{right:25%;left:0}.col-sm-push-2{right:16.66666667%;left:0}.col-sm-push-1{right:8.33333333%;left:0}.col-sm-push-0{right:auto;left:0}.col-sm-offset-12{margin-right:100%;margin-left:0}.col-sm-offset-11{margin-right:91.66666667%;margin-left:0}.col-sm-offset-10{margin-right:83.33333333%;margin-left:0}.col-sm-offset-9{margin-right:75%;margin-left:0}.col-sm-offset-8{margin-right:66.66666667%;margin-left:0}.col-sm-offset-7{margin-right:58.33333333%;margin-left:0}.col-sm-offset-6{margin-right:50%;margin-left:0}.col-sm-offset-5{margin-right:41.66666667%;margin-left:0}.col-sm-offset-4{margin-right:33.33333333%;margin-left:0}.col-sm-offset-3{margin-right:25%;margin-left:0}.col-sm-offset-2{margin-right:16.66666667%;margin-left:0}.col-sm-offset-1{margin-right:8.33333333%;margin-left:0}.col-sm-offset-0{margin-right:0;margin-left:0}}@media (min-width:992px){.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{float:right}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{left:100%;right:auto}.col-md-pull-11{left:91.66666667%;right:auto}.col-md-pull-10{left:83.33333333%;right:auto}.col-md-pull-9{left:75%;right:auto}.col-md-pull-8{left:66.66666667%;right:auto}.col-md-pull-7{left:58.33333333%;right:auto}.col-md-pull-6{left:50%;right:auto}.col-md-pull-5{left:41.66666667%;right:auto}.col-md-pull-4{left:33.33333333%;right:auto}.col-md-pull-3{left:25%;right:auto}.col-md-pull-2{left:16.66666667%;right:auto}.col-md-pull-1{left:8.33333333%;right:auto}.col-md-pull-0{left:auto;right:auto}.col-md-push-12{right:100%;left:0}.col-md-push-11{right:91.66666667%;left:0}.col-md-push-10{right:83.33333333%;left:0}.col-md-push-9{right:75%;left:0}.col-md-push-8{right:66.66666667%;left:0}.col-md-push-7{right:58.33333333%;left:0}.col-md-push-6{right:50%;left:0}.col-md-push-5{right:41.66666667%;left:0}.col-md-push-4{right:33.33333333%;left:0}.col-md-push-3{right:25%;left:0}.col-md-push-2{right:16.66666667%;left:0}.col-md-push-1{right:8.33333333%;left:0}.col-md-push-0{right:auto;left:0}.col-md-offset-12{margin-right:100%;margin-left:0}.col-md-offset-11{margin-right:91.66666667%;margin-left:0}.col-md-offset-10{margin-right:83.33333333%;margin-left:0}.col-md-offset-9{margin-right:75%;margin-left:0}.col-md-offset-8{margin-right:66.66666667%;margin-left:0}.col-md-offset-7{margin-right:58.33333333%;margin-left:0}.col-md-offset-6{margin-right:50%;margin-left:0}.col-md-offset-5{margin-right:41.66666667%;margin-left:0}.col-md-offset-4{margin-right:33.33333333%;margin-left:0}.col-md-offset-3{margin-right:25%;margin-left:0}.col-md-offset-2{margin-right:16.66666667%;margin-left:0}.col-md-offset-1{margin-right:8.33333333%;margin-left:0}.col-md-offset-0{margin-right:0;margin-left:0}}@media (min-width:1200px){.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{float:right}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{left:100%;right:auto}.col-lg-pull-11{left:91.66666667%;right:auto}.col-lg-pull-10{left:83.33333333%;right:auto}.col-lg-pull-9{left:75%;right:auto}.col-lg-pull-8{left:66.66666667%;right:auto}.col-lg-pull-7{left:58.33333333%;right:auto}.col-lg-pull-6{left:50%;right:auto}.col-lg-pull-5{left:41.66666667%;right:auto}.col-lg-pull-4{left:33.33333333%;right:auto}.col-lg-pull-3{left:25%;right:auto}.col-lg-pull-2{left:16.66666667%;right:auto}.col-lg-pull-1{left:8.33333333%;right:auto}.col-lg-pull-0{left:auto;right:auto}.col-lg-push-12{right:100%;left:0}.col-lg-push-11{right:91.66666667%;left:0}.col-lg-push-10{right:83.33333333%;left:0}.col-lg-push-9{right:75%;left:0}.col-lg-push-8{right:66.66666667%;left:0}.col-lg-push-7{right:58.33333333%;left:0}.col-lg-push-6{right:50%;left:0}.col-lg-push-5{right:41.66666667%;left:0}.col-lg-push-4{right:33.33333333%;left:0}.col-lg-push-3{right:25%;left:0}.col-lg-push-2{right:16.66666667%;left:0}.col-lg-push-1{right:8.33333333%;left:0}.col-lg-push-0{right:auto;left:0}.col-lg-offset-12{margin-right:100%;margin-left:0}.col-lg-offset-11{margin-right:91.66666667%;margin-left:0}.col-lg-offset-10{margin-right:83.33333333%;margin-left:0}.col-lg-offset-9{margin-right:75%;margin-left:0}.col-lg-offset-8{margin-right:66.66666667%;margin-left:0}.col-lg-offset-7{margin-right:58.33333333%;margin-left:0}.col-lg-offset-6{margin-right:50%;margin-left:0}.col-lg-offset-5{margin-right:41.66666667%;margin-left:0}.col-lg-offset-4{margin-right:33.33333333%;margin-left:0}.col-lg-offset-3{margin-right:25%;margin-left:0}.col-lg-offset-2{margin-right:16.66666667%;margin-left:0}.col-lg-offset-1{margin-right:8.33333333%;margin-left:0}.col-lg-offset-0{margin-right:0;margin-left:0}}caption{text-align:right}th{text-align:right}@media screen and (max-width:767px){.table-responsive>.table-bordered{border:0}.table-responsive>.table-bordered>thead>tr>th:first-child,.table-responsive>.table-bordered>tbody>tr>th:first-child,.table-responsive>.table-bordered>tfoot>tr>th:first-child,.table-responsive>.table-bordered>thead>tr>td:first-child,.table-responsive>.table-bordered>tbody>tr>td:first-child,.table-responsive>.table-bordered>tfoot>tr>td:first-child{border-right:0;border-left:initial}.table-responsive>.table-bordered>thead>tr>th:last-child,.table-responsive>.table-bordered>tbody>tr>th:last-child,.table-responsive>.table-bordered>tfoot>tr>th:last-child,.table-responsive>.table-bordered>thead>tr>td:last-child,.table-responsive>.table-bordered>tbody>tr>td:last-child,.table-responsive>.table-bordered>tfoot>tr>td:last-child{border-left:0;border-right:initial}}.radio label,.checkbox label{padding-right:20px;padding-left:initial}.radio input[type=radio],.radio-inline input[type=radio],.checkbox input[type=checkbox],.checkbox-inline input[type=checkbox]{margin-right:-20px;margin-left:5px}.radio-inline,.checkbox-inline{padding-right:20px;padding-left:0}.radio-inline+.radio-inline,.checkbox-inline+.checkbox-inline{margin-right:10px;margin-left:0}.has-feedback .form-control{padding-left:42.5px;padding-right:12px}.form-control-feedback{left:0;right:auto}@media (min-width:768px){.form-inline label{padding-right:0;padding-left:initial}.form-inline .radio input[type=radio],.form-inline .checkbox input[type=checkbox]{margin-right:0;margin-left:auto}}@media (min-width:768px){.form-horizontal .control-label{text-align:left}}.form-horizontal .has-feedback .form-control-feedback{left:15px;right:auto}.caret{margin-right:2px;margin-left:0}.dropdown-menu{right:0;left:auto;float:left;text-align:right}.dropdown-menu.pull-right{left:0;right:auto;float:right}.dropdown-menu-right{left:auto;right:0}.dropdown-menu-left{left:0;right:auto}@media (min-width:768px){.navbar-right .dropdown-menu{left:auto;right:0}.navbar-right .dropdown-menu-left{left:0;right:auto}}.btn-group>.btn,.btn-group-vertical>.btn{float:right}.btn-group .btn+.btn,.btn-group .btn+.btn-group,.btn-group .btn-group+.btn,.btn-group .btn-group+.btn-group{margin-right:-1px;margin-left:0}.btn-toolbar{margin-right:-5px;margin-left:0}.btn-toolbar .btn-group,.btn-toolbar .input-group{float:right}.btn-toolbar>.btn,.btn-toolbar>.btn-group,.btn-toolbar>.input-group{margin-right:5px;margin-left:0}.btn-group>.btn:first-child{margin-right:0}.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:0;border-top-left-radius:0}.btn-group>.btn:last-child:not(:first-child),.btn-group>.dropdown-toggle:not(:first-child){border-top-left-radius:4px;border-bottom-left-radius:4px;border-bottom-right-radius:0;border-top-right-radius:0}.btn-group>.btn-group{float:right}.btn-group.btn-group-justified>.btn,.btn-group.btn-group-justified>.btn-group{float:none}.btn-group>.btn-group:not(:first-child):not(:last-child)>.btn{border-radius:0}.btn-group>.btn-group:first-child>.btn:last-child,.btn-group>.btn-group:first-child>.dropdown-toggle{border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:0;border-top-left-radius:0}.btn-group>.btn-group:last-child>.btn:first-child{border-top-left-radius:4px;border-bottom-left-radius:4px;border-bottom-right-radius:0;border-top-right-radius:0}.btn .caret{margin-right:0}.btn-group-vertical>.btn+.btn,.btn-group-vertical>.btn+.btn-group,.btn-group-vertical>.btn-group+.btn,.btn-group-vertical>.btn-group+.btn-group{margin-top:-1px;margin-right:0}.input-group .form-control{float:right}.input-group .form-control:first-child,.input-group-addon:first-child,.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group>.btn,.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle),.input-group-btn:last-child>.btn-group:not(:last-child)>.btn{border-bottom-right-radius:4px;border-top-right-radius:4px;border-bottom-left-radius:0;border-top-left-radius:0}.input-group-addon:first-child{border-left:0;border-right:1px solid}.input-group .form-control:last-child,.input-group-addon:last-child,.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group>.btn,.input-group-btn:last-child>.dropdown-toggle,.input-group-btn:first-child>.btn:not(:first-child),.input-group-btn:first-child>.btn-group:not(:first-child)>.btn{border-bottom-left-radius:4px;border-top-left-radius:4px;border-bottom-right-radius:0;border-top-right-radius:0}.input-group-addon:last-child{border-left-width:1px;border-left-style:solid;border-right:0}.input-group-btn>.btn+.btn{margin-right:-1px;margin-left:auto}.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group{margin-left:-1px;margin-right:auto}.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group{margin-right:-1px;margin-left:auto}.nav{padding-right:0;padding-left:initial}.nav-tabs>li{float:right}.nav-tabs>li>a{margin-left:auto;margin-right:-2px;border-radius:4px 4px 0 0}.nav-pills>li{float:right}.nav-pills>li>a{border-radius:4px}.nav-pills>li+li{margin-right:2px;margin-left:auto}.nav-stacked>li{float:none}.nav-stacked>li+li{margin-right:0;margin-left:auto}.nav-justified>.dropdown .dropdown-menu{right:auto}.nav-tabs-justified>li>a{margin-left:0;margin-right:auto}@media (min-width:768px){.nav-tabs-justified>li>a{border-radius:4px 4px 0 0}}@media (min-width:768px){.navbar-header{float:right}}.navbar-collapse{padding-right:15px;padding-left:15px}.navbar-brand{float:right}@media (min-width:768px){.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand{margin-right:-15px;margin-left:auto}}.navbar-toggle{float:left;margin-left:15px;margin-right:auto}@media (max-width:767px){.navbar-nav .open .dropdown-menu>li>a,.navbar-nav .open .dropdown-menu .dropdown-header{padding:5px 25px 5px 15px}}@media (min-width:768px){.navbar-nav{float:right}.navbar-nav>li{float:right}}@media (min-width:768px){.navbar-left.flip{float:right!important}.navbar-right:last-child{margin-left:-15px;margin-right:auto}.navbar-right.flip{float:left!important;margin-left:-15px;margin-right:auto}.navbar-right .dropdown-menu{left:0;right:auto}}@media (min-width:768px){.navbar-text{float:right}.navbar-text.navbar-right:last-child{margin-left:0;margin-right:auto}}.pagination{padding-right:0}.pagination>li>a,.pagination>li>span{float:right;margin-right:-1px;margin-left:0}.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-bottom-right-radius:4px;border-top-right-radius:4px;border-bottom-left-radius:0;border-top-left-radius:0}.pagination>li:last-child>a,.pagination>li:last-child>span{margin-right:-1px;border-bottom-left-radius:4px;border-top-left-radius:4px;border-bottom-right-radius:0;border-top-right-radius:0}.pager{padding-right:0;padding-left:initial}.pager .next>a,.pager .next>span{float:left}.pager .previous>a,.pager .previous>span{float:right}.nav-pills>li>a>.badge{margin-left:0;margin-right:3px}.list-group-item>.badge{float:left}.list-group-item>.badge+.badge{margin-left:5px;margin-right:auto}.alert-dismissable,.alert-dismissible{padding-left:35px;padding-right:15px}.alert-dismissable .close,.alert-dismissible .close{right:auto;left:-21px}.progress-bar{float:right}.media>.pull-left{margin-right:10px}.media>.pull-left.flip{margin-right:0;margin-left:10px}.media>.pull-right{margin-left:10px}.media>.pull-right.flip{margin-left:0;margin-right:10px}.media-right,.media>.pull-right{padding-right:10px;padding-left:initial}.media-left,.media>.pull-left{padding-left:10px;padding-right:initial}.media-list{padding-right:0;padding-left:initial;list-style:none}.list-group{padding-right:0;padding-left:initial}.panel>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table:first-child>thead:first-child>tr:first-child th:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child{border-top-right-radius:3px;border-top-left-radius:0}.panel>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table:first-child>thead:first-child>tr:first-child th:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:last-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child{border-top-left-radius:3px;border-top-right-radius:0}.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child{border-bottom-left-radius:3px;border-top-right-radius:0}.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child{border-bottom-right-radius:3px;border-top-left-radius:0}.panel>.table-bordered>thead>tr>th:first-child,.panel>.table-responsive>.table-bordered>thead>tr>th:first-child,.panel>.table-bordered>tbody>tr>th:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:first-child,.panel>.table-bordered>tfoot>tr>th:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child,.panel>.table-bordered>thead>tr>td:first-child,.panel>.table-responsive>.table-bordered>thead>tr>td:first-child,.panel>.table-bordered>tbody>tr>td:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:first-child,.panel>.table-bordered>tfoot>tr>td:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child{border-right:0;border-left:none}.panel>.table-bordered>thead>tr>th:last-child,.panel>.table-responsive>.table-bordered>thead>tr>th:last-child,.panel>.table-bordered>tbody>tr>th:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:last-child,.panel>.table-bordered>tfoot>tr>th:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child,.panel>.table-bordered>thead>tr>td:last-child,.panel>.table-responsive>.table-bordered>thead>tr>td:last-child,.panel>.table-bordered>tbody>tr>td:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:last-child,.panel>.table-bordered>tfoot>tr>td:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child{border-right:none;border-left:0}.embed-responsive .embed-responsive-item,.embed-responsive iframe,.embed-responsive embed,.embed-responsive object{right:0;left:auto}.close{float:left}.modal-footer{text-align:left}.modal-footer.flip{text-align:right}.modal-footer .btn+.btn{margin-left:auto;margin-right:5px}.modal-footer .btn-group .btn+.btn{margin-right:-1px;margin-left:auto}.modal-footer .btn-block+.btn-block{margin-right:0;margin-left:auto}.popover{left:auto;text-align:right}.popover.top>.arrow{right:50%;left:auto;margin-right:-11px;margin-left:auto}.popover.top>.arrow:after{margin-right:-10px;margin-left:auto}.popover.bottom>.arrow{right:50%;left:auto;margin-right:-11px;margin-left:auto}.popover.bottom>.arrow:after{margin-right:-10px;margin-left:auto}.carousel-control{right:0;bottom:0}.carousel-control.left{right:auto;left:0;background-image:-webkit-linear-gradient(left,color-stop(rgba(0,0,0,.5) 0),color-stop(rgba(0,0,0,.0001) 100%));background-image:-o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);background-image:linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)}.carousel-control.right{left:auto;right:0;background-image:-webkit-linear-gradient(left,color-stop(rgba(0,0,0,.0001) 0),color-stop(rgba(0,0,0,.5) 100%));background-image:-o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);background-image:linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)}.carousel-control .icon-prev,.carousel-control .glyphicon-chevron-left{left:50%;right:auto;margin-right:-10px}.carousel-control .icon-next,.carousel-control .glyphicon-chevron-right{right:50%;left:auto;margin-left:-10px}.carousel-indicators{right:50%;left:0;margin-right:-30%;margin-left:0;padding-left:0}@media screen and (min-width:768px){.carousel-control .glyphicon-chevron-left,.carousel-control .icon-prev{margin-left:0;margin-right:-15px}.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next{margin-left:0;margin-right:-15px}.carousel-caption{left:20%;right:20%;padding-bottom:30px}}.pull-right.flip{float:left!important}.pull-left.flip{float:right!important}

 .rtl nav .sub-menu li > .sub-menu { left: auto; right: 100%; }

 .pagetitle #subscription-toggle,#eLearning_bp_login{
 	left:0;
 	right:auto;
 }

.instructor_course .instructor_meta {
	margin: 0;
	float: right;
}
nav .sub-menu{left:auto;right:0;}
nav .menu li.hasmegamenu:hover>.sub-menu{right:20%;left:auto;}
/*========================================================================*/
/*   01. CAROUSELS
/*========================================================================*/


.heading_more{
	left: 50px !important;
	right:auto !important;
}
.right{
	float:left !important;
}
.left{
	float:right!important;
}
.notes_list>li img,
nav .menu li{
	float:right;
}

nav,.accordion-heading a.accordion-toggle:after{
    float: left;
}

.rtl #trigger{
	top:28px;
	right:auto !important;
	left:50px;
}
#headertop .topmenu,
.widget .course_filters ul li input{
float: left !important;
}

header #searchicon{float:left;}
.nav-tabs > li,
.sleek #logo {
	float: right;
}
.mooc .woocart, .sleek .woocart{left:auto;right:0;}
.flexslider{direction: ltr!important;}
.block.courseitem .star-rating+strong,
.course_details li i{
float:left;
}
.topmenu .vbplogin em{left:auto;right:-3px;}
#eLearning_bp_login ul+ul li i{
	float:left;
}
.v_module.custom_post_carousel{
direction: ltr;
text-align: right;
}
.flexslider .slides > li{
text-align:right !important;
  direction:rtl !important;
}
.flex-viewport,
.slides{
  direction:ltr !important;
}
#buddypress .item-list-tabs ul li{float:right;}
#buddypress .item-list-tabs ul li a span{margin: 0 10px 0 0;}
.instructor strong span { float: left; }
.unitattachments h4 span,.unitattachments li a:after,
.annoucement_message > span, .annoucements li>span{float:left;}
label strong, .course_sales_list li strong{float:left;}

header.mooc .smallimg img, header.sleek .smallimg img {
    margin-top: -2px;
}
header .smallimg img{margin:0 0 0 8px;}
.widget_carousel .flex-direction-nav a.flex-next, .eLearning_carousel:not(.noheading) .flex-direction-nav a.flex-next{
	left:24px !important;
	right:auto !important;
}
.minimal .pusher h3.heading span:before, .minimal .pusher h4.widget_title span:before{left:auto;right:100%;}
.progress .bar span{
	right:auto;
	left:-20px;
}
.progress .bar{float:right !important;}
.widget_carousel .flex-direction-nav a.flex-prev, .eLearning_carousel:not(.noheading) .flex-direction-nav a.flex-prev{
	left:0 !important;
	right:auto !important;
}
.dial{
	margin-right:-88px !important;
}
.quiz_results li > span{
	float:left;
}
.quiz_results li i{
	float:left;
	margin-left:5px;
}
#buddypress div.item-list-tabs#subnav ul li{
	float:right;
}
#buddypress div.item-list-tabs#subnav ul li a{
	border-left:1px solid #EFEFEF;
}
#buddypress div.item-list-tabs#subnav ul li:first-child a{
	border-right:1px solid #EFEFEF;
	border-left:1px solid #EFEFEF;
	margin-right:1px;
}
#buddypress div.item-list-tabs#subnav ul li{
	max-width: auto;
}

header #searchform:after{left:10px;right:auto;}
body .pusher header #eLearning_bp_login{left:80px;right:auto;}
#eLearning_bp_login:after{left:20px;right:auto;}
#buddypress div.item-list-tabs#subnav ul li.switch_view{float:left;}
.notes_list>li img{
	margin: 0 0 0 20px;
}
.register-section h4:after{
	right:auto;
	left:0;
}
.register-section #account_password_field label span, .register-section label span{
	right:auto;
	left:0;
}

/*========================================================================*/
/*   02. COURSE
/*========================================================================*/
.course_students li img, .quiz_students li img, .assignment_students li img {
float: right;
margin-left: 20px;
}

.course_lesson span{
	left:0;
	right:auto;
}
.course_lesson i {
float: right;
margin-left: 10px;
}
.course_lesson h6{
	margin:0 20px 0 140px;
}
.course_lesson h6 a span{text-align:left;}

.widget .course_cat_nav ul li a span{float:left;}
/*#buddypress div.item-list-tabs#subnav ul li{max-width:240px;}*/
#item-body #userstats li img{float:right;margin-right:0;margin-left:30px;}
#item-body .showhide_indetails{float:left;}
#item-body #userstats li strong{
	float:left;
	margin-right:0;margin-left:30px;
}
#item-body .quiz_questions span{
	float:left;
}

.rtl .course_instructor_widget img{
	float:right;
	margin: 0 0 15px 15px;
}
.total_students span{float:left;}
.item-action-buttons{width:auto;}
.stat_num strong span {
float: left;
}

.quiz_questions .q,
.quiz_results li, .quiz_questions li,#total_marks{text-align: right;}
#total_marks strong{float:left;}
#item-body .quiz_questions span{float:right;}.quiz_questions strong{display:inline-block;}
/*========================================================================*/
/*   03. BuddyPress
/*========================================================================*/
#buddypress div.item-list-tabs ul li a span{
		float:left;
}
#buddypress div.item-list-tabs#subnav ul li.last{float:left;}
.star-rating span{float:right;}

.widget .button{
	margin:10px 0;
}

.breadcrumbs li{float:right;}.breadcrumbs li+li:before{
	margin-left:7px;margin-right:0;
}
.course_students li > ul, .quiz_students li > ul{
	left:90px;
}

.course_bulk_actions a{float:left;}

#buddypress #groups-directory-form div.item-list-tabs ul li, #buddypress #course-directory-form div.item-list-tabs ul li, #buddypress #members-directory-form div.item-list-tabs ul li{
	float:right;
}

.rtl #buddypress .activity-list .activity-avatar{float:right;}

.block.courseitem .course_instructor+strong{
	float:left;
}
.block.courseitem .block_content img,
.block.courseitem .course_instructor{
	float:right;
}

.rtl .instructor_line h3 a,
.item-credits{
	float:left;
}
.item-list .item-avatar{
	float:right;
}

#buddypress ul.item-list li div.action{
	left:0;
}
#buddypress form#whats-new-form #whats-new-avatar,
#buddypress div#item-header ul li{float:right;}

#buddypress form#whats-new-form #whats-new-content {
    margin-right: 80px;
    padding: 0 20px 20px 0;
}
#buddypress ul.item-list li img.avatar{margin:0 !important;}
.footerwidget .avatar-block .item-avatar, .widget .avatar-block .item-avatar{
	float:right;
	margin:0 0 4px 4px;
}
.generic-button{
	text-align: left;
}
#item-admins .item-avatar{
	float:right;
	margin-left:15px !important;
}
#buddypress div#item-header div#item-meta .students i{float:right;margin-left:5px;margin-right:0;}
.instructor_course .item-avatar{
	max-width: 100% !important;
	float: right !important;
	margin-right: 0 !important;
}
.unit_prevnext a{text-align: center;
width: 100%;}
.instructor_course .item-avatar > img{
	margin-left: 15px !important;
}
#buddypress ul.item-list li img.avatar{
	float:right;
	margin-right:0;
	margin-left:30px;
}
.rtl .activity .activity-avatar{
	margin-right:0;
	margin-left:30px;
}
#buddypress #members-activity div.activity-type-tabs ul li{
	float:right;
}

.new_question .chosen-container{margin-right:30px;}
#hidden li h3 >span, #questions li h3 >span{float:left; width:80%;}
.question_settings h3 span, .assignment_settings h3 span {float: left;}

.dash-task-list li span,
.commission_reload{left:15px;right:auto;}
.select-task-status{left:0;}
.instructor-stats-courses li>ul{float:left;}
.save_tasks{left:15px; right:auto !important;}
#buddypress table.notifications tr td.label, #buddypress table.notifications-settings tr td.label, #buddypress table.profile-fields tr td.label, #buddypress table.wp-profile-fields tr td.label, #buddypress table.messages-notices tr td.label, #buddypress table.forum tr td.label{
	text-align: right;
}
.certifications ul.slides>li,.certifications li i{float:right;}

.quiz_title .quiz_meta{
	float:left;
}
.unit_title .print_unit, .quiz_title .print_unit,
.unit_title .print_unit+span, .quiz_title .print_unit+span{
	float:right;  margin-left: 5px;
}
.curriculum_check li span{
	right:auto;
	left:0;
}
.course_students li .progress{
	margin:10px 85px 0 0;
}
.single-course #item-header #item-meta .course-star-rating,.course_reviews .show_course_reviews .reviewlist.commentlist .comment-body .comment-avatar,
.assignment_students li input[type=checkbox], .course_students li input[type=checkbox], .quiz_students li input[type=checkbox],.tab-pane li img,
.single-course.c2 #item-nav div.item-list-tabs#object-nav li, .single-course.c3 #item-nav div.item-list-tabs#object-nav li, .single-course.c5 #item-nav div.item-list-tabs#object-nav li{
	float:right;
}
#applications ul li span.approve, #applications ul li span.reject{float:left;}
.course_curriculum.accordion .course_section>td:after{
	left:0;
	right:auto;
}
.course_curriculum .course_lesson>td:last-child i{float:right;margin:0;}
.single-course.c2 .course_description+.course_curriculum .course_title h2, .single-course.c2 .review_title, .single-course.c3 .course_description+.course_curriculum .course_title h2, .single-course.c3 .review_title, .single-course.c4 .course_description+.course_curriculum .course_title h2, .single-course.c4 .review_title, .single-course.c5 .course_description+.course_curriculum .course_title h2, .single-course.c5 .review_title{
	text-align:right;
}
.course_reviews .show_course_reviews .reviewlist.commentlist .comment-body .comment-body-content{
	margin-left:0;margin-right:100px;
}
/*========================================================================*/
/*   03. BBPress
/*========================================================================*/

li.bbp-forum-info, li.bbp-topic-title,
#bbpress-forums div.bbp-topic-author, 
#bbpress-forums div.bbp-reply-author{
	float:right;
	text-align: right;
}

#bbpress-forums div.bbp-forum-content, #bbpress-forums div.bbp-topic-content, #bbpress-forums div.bbp-reply-content{
	margin:0;
}
#bbpress-forums li.bbp-header .bbp-topic-author, #bbpress-forums li.bbp-footer .bbp-topic-author, #bbpress-forums li.bbp-header .bbp-reply-author, #bbpress-forums li.bbp-footer .bbp-reply-author{
	float:right;
}
#bbpress-forums li.bbp-header .bbp-topic-content, #bbpress-forums li.bbp-footer .bbp-topic-content, #bbpress-forums li.bbp-header .bbp-reply-content, #bbpress-forums li.bbp-footer .bbp-reply-content{
	text-align: right;
	margin-left:0;
	margin-right:140px;
}

#bbpress-forums div.bbp-topic-content, #bbpress-forums div.bbp-reply-content{
	text-align: right;
}



/*==== MISCELLANEOUS ==== */
.buddypress.widget .item-avatar img.avatar{
    float: right;
    max-width: 40px;
    margin: 0 0 15px 10px;
}

#buddypress .students_undertaking ul li{
    float: right;
}

.grid li{
	right: initial;
}

.course_filters .checkbox label:before, .course_filters .radio label:before{
	float: right;
}

.checkbox>input[type=checkbox]+label:before{
margin-left: 8px;
}

.radio>input[type=radio]+label:before{
    padding-left: 8px;
    margin-left: 8px;
}

select2 select2-container select2-container--default select2-container--focus{
	width: 100%;
}

p {
    font-family: Arial, Tahoma, serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Tahoma, serif;
}

#headertop li img.avatar{
	margin-left: 8px;
}

.admin-bar #eLearning_bp_login{
	top: 10px;
}

#eLearning_bp_login,#eLearning_bp_login #sidebar-me{
	text-align: right;
}

nav{
	float: left;
}
#buddypress .widget_title,.widget .widget_title,h3.heading{
	text-align: right;
}

.footerwidget .avatar-block .item-avatar,.widget .avatar-block .item-avatar{
	float: right;
	margin: 4px 0 0 4px;
}

#scrolltop{
	left: 20px;
	right: inherit;
}

#footerbottom #footerlogo{
	float: right;
	margin:-15px 0 0 10px;
}

#footerbottom #footer_social_icons,#footerbottom #footermenu{
	float: left;
}

#buddypress #course-list .modern_course_single_item .course-meta ul li .dashicons{
	float: right;
}

#buddypress #course-list .modern_course_single_item .modern-star-rating .dashicons{
	float: right;
}

.course-star-rating span{
	float: right;
	margin-left: 2px;
}

.block.courseitem .block_content .star-rating>span{
	float: right;
}

#buddypress .course_reviews .review_breakup ul.rating_breakup li>span{
	float: right;
	margin: 15px 0 0 15px;
}

#buddypress .course_description+.course_curriculum .course_title h2,#buddypress .related_courses h2,#buddypress .review_title,#buddypress h3.heading{
	text-align: right;
}

.block.courseitem .block_content .instructor_course+strong{
	float: left;
}

.postsmall .post_thumb{
	float: right;
	margin: 0 0 0 10px;
}

.edit_course_content #course-category>li,.edit_course_content #course-linkage>li,.edit_course_content .eLearning-taxonomy>li{
	float: right;
	margin-left: 20px;
}

.blogpost .featured{
	float: right;
}

.meta{
	float: left;
	text-align: right;
	border-left: 1px solid #EFEFEF;
}

.blogpost .excerpt{
	margin-right: 90px;
}

.blogpost .excerpt.thumb{
	margin-right: 310px;
}

.meta .date .month{
	padding: 10px 0 0 10px;
}

h3.heading.center{
	text-align: center;
}

.pagesidebar {
    left: 0;
	right: inherit;
}

.open .pusher {
    -webkit-transform: translate3d(220px,0,0);
    transform: translate3d(220px,0,0);
}

.sidemenu li a{
	text-align: right;
	padding: 15px 30px 15px 0;
}

#buddypress ul.item-list li .item-credits {float:left;}

#buddypress div.item-list-tabs ul li a span {float:right;margin-left:10px;}

#buddypress ul.item-list li .item-avatar img {width:100%;}

body header #searchicon{
	left: 10px;
	right: inherit;
}

/*
MISC
 */
label[for="signup_password"]>span{float:left;}

/*
SKY WALKER CHANGES
 */
#eLearning_bp_login.active #bpavatar img {margin: 20px 0px 20px 20px !important;}
.page-template-start a.print_unit {margin-top:-15px;}
.page-template-start .unit_content span{margin-top:-23px !important;}
.page-template-start .unit_title .instructor img {margin-right:20px !important;}
.course.directory #buddypress ul.item-list li .item-instructor img.avatar {margin-right: 20px !important;margin-left: 10px !important;}
.course.directory .type_filter .radio>input[type=radio]+label:before {padding-left: 0px !important;}
.item-list-tabs a span{float:left !important;}
.checkbox>input[type=checkbox]:checked+label:after {position:relative !important; float:right !important; transform: translate(22px);}
i.icon-close-off-2 {font-size: 9px !important;}
.course.directory .radio label, .checkbox label {padding-right: 0px !important;}
.single-product p.buttons a{margin-left:10px !important;}
.widget .woocart .total span{float:left !important; margin-left:50px !important}
.directory.course #course-order-by{height:40px !important;}
.single-product .product_meta .posted_in{float:left !important;}
.single-course .course_reviews .show_course_reviews .reviewlist.commentlist .comment-body .comment-avatar img {margin-top: 15px !important;}
.single-course .comment-text p{margin-top: 7px !important;}
.course_curriculum .course_lesson .curriculum-icon>i {margin-top: 5px !important;}
.course_curriculum .course_lesson>td:last-child i {float: left !important;margin-left: 20px !important;}
.standard-form a.tip {float: left !important;margin-left: 145px !important;color: rgb(255, 255, 255) !important; font-size:14px !important}
#eLearning_bp_login #vbp-login-form .checkbox label:before {background: rgb(255, 255, 255) !important;}
#eLearning_bp_login #vbp-login-form .checkbox label:after {margin-left:8px !important;}
.page-template-start #next_unit:after {content: "\e172" !important;float:left !important; font-family: 'fonticon';}
#prev_unit:after {content: "\e0f6" !important;float:right !important;font-family: 'fonticon';}
#prev_unit{margin-right:40px !important;}
.course_timeline li{text-align:right;}.course_timeline li.unit_line{margin:0 30px 0 0;border-left:none;border-right:3px solid rgba(0,0,0,0.2);}.course_timeline

li>span{left:auto;right:-7px}
.course_timeline li.done>span{right:-13px}.course_timeline li.done>span:before{ margin: 3px 5px 0 0;}.course_timeline li>a{margin:0 20px 0 10px;}
.course.directory .type_filter .radio>input[type=radio]+label:before {margin-top: 3px !important;}
.checkbox>input[type=checkbox]+label:before {margin-top: 3px !important;}
.woocommerce .woocommerce-message .button {float: none !important;margin-left: 10px !important;}
.woocommerce-Price-amount {margin-right:10px !important;}
.woocommerce-cart .cart-collaterals .cart_totals tr th {text-align: right !important;}
.cart_item{text-align: right !important;}
.woocommerce-cart table.cart td.actions .coupon .input-text {padding:5px !important;}
.product-name{text-align:right !important;}
.cart-subtotal,.order-total,.cart_item{text-align:right !important;}
.product-name{text-align:right !important;}
.single-course i.icon-plus-1 {margin-left:10px !important;}
.single-course .course_instructor_widget h5 {margin-top:-5px !important;}
.single-course .item-avatar img{margin-top:9px !important;}
ul.more_posts li a img{margin-left:10px !important}
.woocommerce-MyAccount-navigation ul {float:right !important}
.woocommerce div.product form.cart .button {float: right !important;}
div#tab-description h2,p{margin-right:10px !important;}
.woocommerce-checkout ul.woocommerce-thankyou-order-details.order_details {float:right !important;}
.woocommerce-checkout .woocommerce table.shop_table {text-align: right !important;}
.single-course .block_content strong{ margin-left:10px; margin-top:4px;}
.flex-active-slide .instructor_course .item-avatar{margin-top:-10px !important}
.bbp-topic-permalink {margin-right: 20px !important;}
#bbpress-forums ul.bbp-topics li.bbp-body ul.topic .bbp-topic-meta img.avatar {margin-top: -6px !important;}
#title .bbp-search-form #bbp_search {margin-right: 10px !important;}
span#favorite-toggle {margin-left:10px !important; margin-right:10px !important;}
span#favorite-toggle {margin-left:10px !important; margin-right:10px !important;}
.bbp-reply-author a.bbp-author-name {margin-top:10px !important;margin-right: 26px !important;}
.bbp-author-role{margin-top:-15px;margin-right: 13px !important;}
.bbp-reply-ip{margin-bottom: 20px !important;}
#title .pagetitle {padding-top: 0px !important;}
li#course-personal:hover span{ background-color:white !important;}
li#course-all:hover span{ background-color:white !important;}
ul.rating_breakup span {color: black !important; margin-right:10px !important}
ul.rating_breakup li:nth-child(5) span {color: black !important; margin-right:5px !important}
i.icon-printer-1 {display:none !important;}
i.icon-printer-1 {display:none !important;}
.icon-clock{margin-left:10px !important;margin-right:10px !important;font-size:13px;}
.unit_content .unit_title span{font-size:17px !important;}
.page-template-start .instructor {margin-top:-6px !important;}
.page-template-start .instructor a img{margin-top:10px !important;}
#bbpress-forums #favorite-toggle a, #bbpress-forums #subscription-toggle a {margin: 0 0 0 0px !important;}
.page-template-start .instructor {margin-top:-6px !important;}
.page-template-start .instructor a img{margin-top:10px !important;}
#bbpress-forums fieldset.bbp-form #bbp_topic_subscription {float: right !important;margin-left:10px !important;}
#notifications-personal-li:hover span.no-count {color:blue; background-color:white;}
.page-template .course_timeline li span{margin-top:2.2px !important;}
.page-template .course_time{display:none !important;}
#course-instructor:hover span{color:blue !important; background-color:white !important;}
.element_overlay h3{margin-right:20px !important}.page-template-create_content li strong{margin-right:10px !important}
.course.admin .course_students input.member {float:left !important;}
.course.admin .post_title{line-height:1.1 !important;}
.instructor_line h3 i {float: left !important;margin-right: 10px !important;}
.postsmall .post_thumb a {margin-top: 15px !important;}
h4.post_title{line-height: 1 !important;}
.pagetitle #subscription-toggle a {margin:0 0 0 0px !important;}
/*RTL FIXES END */