
/*========================================================================*/
/*  BOXED CHANGES IN ELEARNING TEMPLATE
/*========================================================================*/


/*========================================================================*/
/*   01. HEADER
/*========================================================================*/

.boxed{
	.pusher{
		width:1200px;
		overflow:hidden;
		padding:0;
		margin:0 auto;
	}
}



/*========================================================================*/
/*   01. RESPONSIVE
/*========================================================================*/
@media (min-width: 991px) and (max-width: 1200px) {
	.boxed{
		.pusher{
			width:960px;
		}
	}
}

@media (min-width: 769px) and (max-width: 990px) {
	.boxed{
		.pusher{
			width:750px;
		}
	}
}

@media (max-width: 768px){
	.boxed{
		.pusher{
			width:100%;
		}
	}
}