/**
 * File: special.scss
 * Description : Contains all Specials/ Ad hoc Fixes for the ELEARNING
 * Author: Mr.Vibe 
 * Credits: www.VibeThemes.com
 * Project: ELEARNING
 * version 2.0
 **/
/*========================================================================*/
/*   TABLE OF CONTENT
/*========================================================================*/
/*
/*    01. DEFAULTS
/*    02. BODY LOADING EFFECTS
/*    03. BLOG POST STYLE 1 STYLING 
/*    04. SELECT DROPDOWN
/*    05. LINKS STYLING
/*    06. LISTS STYLING
/*    07. PAGE BLOCKS
/*    08. MISCELLANEOUS
/*
/*========================================================================*/
/*   01. DEFAULT STYLING 
/*========================================================================*/

#wpadminbar{-webkit-transform: translateZ(0);}

.btn{border:none !important;}
/*========================================================================*/
/*   03. BLOG POST STYLE 1 STYLING 
/*========================================================================*/

.blogpost_style1 {
	.featured{
	    border-radius: 4px;
    	overflow: hidden;
		& + .excerpt{
			padding-top:15px;
		}
	}	

	.excerpt{
		padding: 0;
		h3{
			margin:0;
		}
		.blogpost_meta{
			font-size:11px;
			padding:10px 0;
			letter-spacing:1px;
			text-transform:uppercase;
			color:$light-text-color;
			ul{
				display:inline;
				margin:0 2px;
				li{
					float:left;
					margin-right:2px;
					&:after{
						content:'/';
						padding-left:2px;
					}
				}
			}
			a{
				color:$light-text-color;
				font-weight:600;
			}
		}
	}
	& + .blogpost_style1,
	& + .pagination{
	    margin-top: 30px;
	    padding-top: 30px;
	    border-top: 1px solid $bordercolor;
	}
}


.blogpost_style2 {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $bordercolor;
	.post-categories{
		li{
			float:left;
			margin-right:5px;
			a{
				font-size:11px;
				text-transform:uppercase;
				font-weigt:600;
				background:$darkmenubg;
				color:$darkmenucolor;
				padding:2px 6px;
				border-radius:2px;
			}
		}
	}
	h3{
	    margin: 0;
	    padding:10px 0 0;
    	clear: both;
    	font-size:18px;
    	font-weight:600;
	}
	.blogpost_style2_date{
		display:block;
		font-size:12px;
		color:$light-text-color;
	}
	.featured{
		position:relative;
		margin:15px 0 30px;
		img{border-radius: 4px;}
		.blogpost_author{
			position: absolute;
		    bottom: -24px;
		    left: 24px;
		    img{
		    	border-radius: 50%;
			    width: 48px;
			    float: left;
			    border:3px solid #FFF;
		    }
		}
	}
}	

.blogpost_style3{
	margin-bottom: 30px;
    padding-bottom: 30px;
    .post-categories{
		li{
			float:left;
			margin-right:5px;
			font-size:11px;
			color:$light-text-color;
			a{
				text-transform:uppercase;
				font-weight:600;
				color:$light-text-color;
				border-radius:2px;
			}
			&:after{
				content:'/';
				padding-left:5px;
			}
			&:last-child:after{content:'';}
		}
	}
	h3{
	    margin: 0;
	    padding:10px 0 0;
    	clear: both;
    	font-size:18px;
    	font-weight:600;
	}
	.blogpost_style3_date{
		font-size:11px;
		margin-left:10px;
		color:$light-text-color;
	}
	.blogpost_author{
		margin-top: 30px;
    	display: block;
		img{
			width: 36px;
    		border-radius: 50%;
    		margin-right:10px;
		}
	}
	.link{
		margin-left:10px;
	}
	.featured{
		position:relative;
		img{border-radius: 4px;}
	}
}