.edit_events_ando .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}
.edit_events_ando .switch input {
    display: none;
}
.edit_events_ando .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.edit_events_ando .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.edit_events_ando input:checked + .slider {
    background-color: #2196F3;
}
.edit_events_ando input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
.edit_events_ando input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */

.edit_events_ando .slider.round {
    border-radius: 34px;
}
.edit_events_ando .slider.round:before {
    border-radius: 50%;
}
.edit_events_ando .font_h1 {
    font-size: 30px;
    margin-bottom: 80px;
}
.edit_events_ando .font_h2 {
    font-size: 20px;
    padding-bottom: 3px
}
.edit_events_ando .switch_connect {
    margin-top: 23px;
    width: 788px;
}
.edit_events_ando .switch_connect span {
    padding-top: 6px;
    font-size: 15px;
    font-style: oblique;
}
.edit_events_ando .switch_w {
    width: 80%;
    float: right
}
.edit_events_ando .switch_w span {
    font-size: 17px;
    font-weight: bold;
    padding-right: 10px;
    color: #8a8989;
}
.edit_events_ando .switch_w input {
    width: 77%;
    height: 31px;
}
.edit_events_ando .switch_w button {
    width: 70px;
    border: none;
    height: 31px;
    margin-left: 9px;
    background-color: #0e62c1;
    border-radius: 3px;
    float: right;
}
.edit_events_ando .row {
    margin-bottom: 50px;
}
.edit_events_ando .text_left {
    float: right;
    padding-top: 40px;
    left: 14%;
    position: relative;
    color: red;
    font-weight: bold;
}
.edit_events_ando .col-md-9 p {
    font-style: italic;
}