.hs-elearning .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-top: none;
	vertical-align: middle;
}
.hs-elearning table td {	
	font-size: 12px;
	color: #767676;
}
.hs-elearning table th {	
	color: #000 !important;
	font-size: 13px;
}
.hs-elearning .prev-edit {
    padding: 0px 10px;
    background: #00aeef;
    margin: 0;
    border-radius: 5px;
}
.hs-elearning .top-button {
	background: #00aeef;
	padding: 0 20px;
	font-size: 18px;
}
.hs-elearning .hs-active {
	color: #09ab33;
}
.hs-elearning .inactive {
	color: #b64a4a;
}
.hs-elearning .right_row h1 {
	margin-top: 10px;
}
.hs-elearning .btn:hover {
	color: white;
}
.eLearning-website table td:first-child {
	font-size: 15px;
	color: #00aeef !important;
}
.eLearning-website table td a {	
	color: #00aeef !important;
}
.eLearning-website table td span {
	font-size: 12px;
	color: #767676;
    padding-left: 19px;
}
.website-menu{
    width: 100%;
    display: inline-block;    
    background: #464646;
    margin-bottom: 20px;
    margin-top: 5px;
}
.website-menu li {
	background: #464646;	
	border: none;
	float: left;
	text-align: center;
	height: 80px;
    display: block;
    height: 70px;
    line-height: 60px;
}
.website-menu li a {
	color: #fff;
	width: 100%;	
}
.website-menu li a:hover{
	background: #464646;
}
.website-menu li a:active{
	background: #00aeef;
}
.website-menu ul {
	margin-bottom: 0;
}
#item-body {
	padding-left: 0;
}
.col-md-3.col-sm-4 {
	padding-right: 0;
}
.eLearning-website table th {
	color: #767676 !important;
}
.website-menu .current.selected {
    background: #0074b5;
}
.website-menu .current.selected a:hover {
    background: #0074b5;
}