
header img{
    background-repeat: no-repeat;
    width: 100%;
}
.hovoStep2{
    display: none;
}
header h1{
    margin: 0;
}
.evantTitle input{
    width: 100%;
    height: 70px;
    border: solid 1px #c0c0c0;
}
.hovoCircal{
    height: 90px;
    width: 90px;
    border-radius: 45px;
    background: red;
}
.hovoSinglStep{
    width: 25%;
    display: inline-block;
    float: left;
    background: #ebebeb;
}
.left input,.right input{
    width: 100%;
}
.select select{
    width: 65%;
}
.fbuton{
    border-top: 1px solid #eeeeee;
    margin-bottom: 50px;
}
.fbuton img{
    padding-top: 30px;
    
}
h6{
    color: #7d7d7d;
}
.add{
    color: #2fafdf;
}

input{
    border: 1px solid #000;
    font-size: 30px;
    color: #a9a9a9;
    opacity: 0.5;
}

select{
    border: 1px solid #c0c0c0;
    border-radius: 3px;
}