body>.container-fluid {

}


.navbar-fixed-left {
    /*min-width: 210px;*/
    /*position: fixed;*/
    /*border-radius: 0;*/
    /*height: 100%;*/
    border-radius: 0px;
    margin: 0px;
    min-height: 2160px;
    display: block;
}

/*.navbar-fixed-left .navbar-nav > li {*/
    /*float: none;  !* Cancel default li float: left *!*/
    /*!*width: 200px;*!*/
/*}*/

.object-nav > li > a {
    color: #ffffff;

}
.menu_ul {
    width: 100%;
}

.object-nav > li > a:hover {
    background-color: #00adef !important;
}

.navbar-inverse .navbar-nav > li > a:active {
    background-color: #00adef;
}

.top-button {
    border-radius: 0px;
    padding:0 20px 0px 20px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #00adef;
}

.button_part {
    padding-right: 0px;
}
.top-button-div {
    text-align: center;
}
.right_row {
    margin-left: 0px;
}
.left_side,  .right_side {
    /*padding-right: 0px;*/
    padding-left: 0px;
}
.right_side {
    padding-left: 0px;

}
.search_bar {
    padding-right: 0px;
}
.stylish-input-group .input-group-addon  {
    background: #d7d7d7 !important;
    border: none;

}
.btn_custom {
    background-color: #d7d7d7;
}
.top-button:hover {
    background: #00adef !important;
    color: #ffffff;


}
.btn_custom  i {
    margin-left: 10px;
    color: #afafaf;
}
.drop_but button {
    color: black;
}

.stylish-input-group .form-control{
    border-left:0;

}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.search_button {
    background-color: #d7d7d7; !important;
    border: none !important;
    box-shadow: none;
}
.search_icon {
    width: 30px;
}

.cus_inpt_gr{
    margin-top: 10px;
}

.buddypress  .container {
    width: 100%;
}

.search_bar_background {
    background-color: #d7d7d7; !important;
    margin-left: 0px;
    margin-top: 3%;
}

.table_wrapper {

    margin-left: 0px;
}
.info_table thead  th {
    color: #888888;
    /*font-size: 10px;*/
}
#buddypress #item-nav .item-list-tabs {
    background-color: #363636 !important;
}
.info_table  tbody tr td a {

}

.top_togle_menu {
    border-radius: 0px;
}
.left_side {
    padding-right: 0px;
}
 .plus {

 }


.cus_icon {
    width: 20px;
    margin-right: 10px;
}
@media screen and (min-width: 1300px){
    .left_side {
        width: 11.666667% !important;
    }

}

@media screen and (max-width: 1200px){
    .navbar-fixed-left{
        display: none;
    }
}


@media screen and (max-width: 1530px) {
    .top-button-div button {
        width:130px;
        font-size: 10px;
    }

    .navbar-fixed-left {
        min-width:     158px;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #ffffff;
        font-size: 10px;
    }
}

@media screen and (max-width: 800px){
    .top-button-div button{
        width: 98px;
        padding: 15px;
        font-size: 9px;
    }


}

@media screen and (max-width: 766px){
    .top-button-div button{
        float: left;
    }

    #myNavbar {
        float: left;
    }
    .navbar-inverse .navbar-nav > li > a {
        padding-right: 5px;
    }

}

@media screen and (max-width: 930px){
    .navbar-inverse .navbar-nav > li > a {
        padding-right: 1px;
        padding-left: 1px;
    }

}