/*
Theme Name: ELEARNING
Theme URI: http://www.ELearningThemes.com/
Description: ELEARNING is a Learning Management System for WordPress. The theme is deep integrated with BuddyPress and comes packed with the Course Module plugin. 
Theme has very powerful features which are essential for a full fledges LMS. Theme utilizes maximum of both WordPress and BuddyPress and can be run on a large scale platform as well.
Author: Mr.ELearning
Author URI: http://www.ELearningThemes.com/
Version: 2.6.1
License: Themeforest 
License URI: http://themeforest.net/licenses
Text Domain: eLearning
Tags: Education, LMS, eLearning, BuddyPress, ELEARNING
Domain Path: /languages/
*/


/*=== ADD Your Custom Changes here ===*/

.block_media img {
    width: 100%;
}

#basic-details-section h4:after {
    content: '';
}

.security-question-section input[type="number"] {
    border: 1px solid #DDD;
}

.security-question-section+.submit {
    clear: both;
}

.content ul.question_options {
    clear: both;
    display: inline-block;
    width: 100%;
    list-style: none;
}

.block.courseitem span.amount {
    font-size: 16px !important;
}

.live-edit-sidebar,
.live-edit-sidebar+.text-options {
    display: none;
}

.contact-form-editor-panel {
    display: none;
}

#form-panel {
    display: block;
}

#postbox-container-1 {
    display: none;
}

#titlediv #title {
    padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    height: 1.7em;
    width: 100%;
    outline: 0;
    margin: 0 0 3px;
    background-color: #fff;
}

.add-new-h2 {
    display: none;
}

.pusher {
    background: white;
}

.settings {
    background: white !important;
}