@import "lms.first.am/wp-includes/fonts/Myriad Pro Regular.ttf" screen; 

@font-face{
    font-family: "Myriad-Pro";  
    src: url(lms.first.am/wp-includes/fonts/Myriad Pro Regular.ttf) format("truetype");
}
.fm_vg .custom_dashboard .custom_dashboard_text{text-align: center;display: block; font-size: 40px;color: #717171;} 
.fm_vg .custom_dashboard .custom_dashboard_line{width: 90%;height: 3px;background: #4d9edc;display: block;margin: 0 auto;margin-top: 25px;}
.fm_vg .custom_dashboard img {margin: 40px 0;}
.fm_settings_site .settings_site_title {margin-left:50px; margin-right:50px;} 
.fm_settings_site .settings_site_title .right p{margin-top:25px; font-style: italic;}
.fm_settings_site .settings_site_title .left h1{margin:0;}
.fm_settings_site .settings_site_title span{display:block; clear:both;    font-weight: 600;}
.fm_settings_site .settings_site_title .title_input{width: 100%;height: 35px;background: transparent; margin-top: 20px;     margin-bottom: 20px;}
.fm_settings_site .settings_site_title form input{margin-top:20px;}
.fm_settings_site .settings_site_title .site_designer{margin-top:30px; display:block; clear:both;    padding: 7px 50px;}

#buddypress #item-nav .item-list-tabs ul li a {
    color: rgb(255, 255, 255) !important;
	
}
.dashboard-place {margin: 0 auto; width:90%}