/**
 * File: Elegant.scss
 * Description : Contains all styling for Elegent Skin for ELEARNING
 * Author: Mr.Vibe 
 * Credits: www.VibeThemes.com
 * Project: ELEARNING
 * version 2.0
 **/
/*========================================================================*/
/*   TABLE OF CONTENT
/*========================================================================*/
/*
/*    01. GLOBAL STYLING
/*    02. HEADER STYLING
/*
/*========================================================================*/
/*   01. GLOBAL STYLING
/*========================================================================*/

@import '../defaults';

.minimal{
	.pusher{
		background:#FFF;
		#title,#coursestitle,#grouptitle,#activitytitle,#memberstitle{
			background:$light-border-color;
			padding-bottom:30px;
		}
		.courseheader,.member_header,.group_header{
			background:$light-border-color;
		}
	}
	.padder.content,
	.content,
	&.page .content, 
	&.single .content,
	#item-body{
		padding:0;	
	}
}
/*========================================================================*/
/*   02. HEADER STYLING
/*========================================================================*/

.minimal{
	#headertop{
		padding:0;
		ul{
			&.topmenu > li,&.socialicons > li{
				padding-top: 8px;
	    		padding-bottom: 8px;
	    		line-height: 20px;
	    		border-left:1px solid $bordercolor;
	    		&:first-child{
	    			border-left:1px solid $bordercolor;
	    		}
			}
		}
		.headertop_content{
			padding-top: 8px;
    		padding-bottom: 8px;
    		line-height: 20px;
    		font-weight:600;
    		.email,.mobile{display:inline;}
    		i{padding:0 2px;}
		}
		border-bottom:1px solid $bordercolor;
	}	
	header{
	    border-bottom: 1px solid $bordercolor;
	    &.sleek.transparent{
	    	border:none;
	    	&.fixed{
	    		border-bottom: 1px solid $bordercolor;
	    	}
	    }
	    #searchform input[type=text]{
	    	border-bottom: 1px solid $bordercolor;
	    }
	    &.standard{
	    	border-top:  1px solid $bordercolor;
	    }
	}
	nav{
		li{
			&.current_page_item a,&.current_menu_item a,
			a:hover{
				color:$primarybg;
			}
		}
		.sub-menu{
			border:1px solid $bordercolor;
			& > li{
				border-bottom:1px solid $bordercolor;
			}
		}
	}
	header{
		.woocart,#searchform{
			border:1px solid $bordercolor;
		}
	}	
	.mooc .woocart .buttons, 
	.sleek .woocart .buttons,
	&.woocommerce-page #content input.button.alt{
		background:none;
	}
	&.woocommerce .button{border:2px solid !important;background:none !important;}
}



/*========================================================================*/
/*   02. GENERAL STYLING
/*========================================================================*/

.minimal{
	#content{
		padding-bottom:30px;
		position:relative;
		z-index:0;
	}
	footer{
		margin-top:0;
	}
}

.minimal{
	#unit_content{padding:0;}
	.unit_prevnext{margin:20px 0 0;border-color:$bordercolor;}
	.course_timeline{
		border-color:$bordercolor;
		li{
			&.unit_line,
			& > span{
				border-color:$bordercolor;
			}
			a,&.active a, li:hover a,h4{
				color:#444;
			}
		}
		&.accordion{
			.section:after{
				color:#444;
			}
		}
		.section{
			border-top:1px solid $bordercolor;
			border-bottom:1px solid $bordercolor;
			&:first-child{border-top:none;}
			&:last-child{border-bottom:none;}
		}
	}
	.quiz_timeline .timeline_wrapper{
		border-color: $bordercolor;
	}

	.unit_prevnext a{
		color:#444;
	}
}

/*========================================================================*/
/*   02. ELEMENTS STYLING
/*========================================================================*/
.minimal{
	.pusher{
		.button,
		input[type=submit],
		.woocommerce #respond input#submit, 
		.woocommerce a.button, 
		.woocommerce button.button, 
		.woocommerce input.button,
		#buddypress a.button,
		#buddypress input[type=submit],
		#buddypress input[type=button]{
			background:none;
			border:2px solid $primarybg;
			color:$primarybg;
			&:hover{
				color:$primarycolor;
				background:$primarybg;
			}
		}
		h3.heading,
		h4.widget_title{
			border-bottom:2px solid $bordercolor;
			span{
				position:relative;
				&:before{
					content:'';
					height:2px;
					background:#FFF;
					position:absolute;
					border-radius:2px;
					bottom:-11px;
					left:100%;
					width:10px;
				}
				&:after{
					content:'';
					height:2px;
					border-radius:2px;
					background:$primarybg;
					position:absolute;
					bottom:-11px;
					left:0;
					width:100%;
				}
			}
		}
		h4.widget_title{
			line-height:1;
			span:before,span:after{
				bottom:-1em;
			}
		}
	}
	.pagination span,.pagination label,
	.pagination .page-numbers.current,.pagination span.current,
	.pagination a.page-numbers,.pagination a{
		background:none;
		border-color: $primarybg ;
		color:$primarybg;
	}
	.bbp-logged-in{
		border:1px solid $bordercolor;
	}
}

.minimal.directory{
	#buddypress div.item-list-tabs#subnav ul li.switch_view a{
		&#list_view{border-right:none;}
		&#grid_view{border-left:none;}
		&.active{
			&#list_view{
				border-right:2px solid $bordercolor;
			}
			&#grid_view{
				border-left:2px solid $bordercolor;
			}
		}
	}
} 
/*========================================================================*/
/*   02. SIDEBAR STYLING
/*========================================================================*/

.widget{
	.widget_title{
		border-bottom:none;
		position:relative;
		border-bottom:3px solid $bordercolor;
	}
}

.minimal{
	#active_filters{
		margin:10px 0 0;
		li{
			&:first-child{
				margin:0 6px 0 0;
			}
		}
	}
	.note-tabs{
	    border: 2px solid $primarybg;
    	margin-bottom: 15px;
    	ul{
    		li{
    			a{
    				color:$primarybg;
    			}
    		}
    	}
	}
	.dash_widget_title{
		margin:15px 0;
	}
}

/*========================================================================*/
/*   02. WOOCOMMERCE STYLING
/*========================================================================*/

.minimal{
	&.woocommerce-page a.button,
	&.woocommerce nav.woocommerce-pagination ul li a,
	#bbpress-forums .bbp-pagination .bbp-pagination-links a.page-numbers, 
	#bbpress-forums .bbp-pagination .bbp-pagination-links span
	&.woocommerce a.button, 
	&.woocommerce button.button, 
	&.woocommerce input.button, &.woocommerce #respond input#submit, &.woocommerce #content input.button, 
	&.woocommerce-page a.button,&.woocommerce-page button.button, 
	&.woocommerce-page input.button, &.woocommerce-page #respond input#submit, &.woocommerce-page #content input.button, &.woocommerce ul.products li a.added_to_cart, &.woocommerce ul.products li a.button{
		background:none;
		border-color: $primarybg ;
		color:$primarybg;
	}
	&.woocommerce div.product .woocommerce-tabs ul.tabs li{
		background:none !important;
	    border: none;
	    color:#444;
	}
	&.woocommerce div.product .woocommerce-tabs ul.tabs li.active, 
	&.woocommerce div.product .woocommerce-tabs ul.tabs li:hover{
	    color: $primarybg;
	    background:none;
	    border-bottom: 2px solid $primarybg;
	}
	.mooc .woocart.active, 
	.sleek .woocart.active{
		padding:0;
	}
}



/*========================================================================*/
/*   02. BUDDYPRESS STYLING
/*========================================================================*/
.minimal{
	#buddypress{
		#pag-top.pagination {
		    padding-top: 15px;
		}
		#activityform, .activity_content{
			padding:0;
		}
		div.item-list-tabs{
			background:none;
			line-height:0;
			border-bottom: 2px solid #ddd;
			margin: 30px 0 0;
			overflow:visible;
			ul{
				display:inline-block;
				li{
					a{
						background:none;
						color:#444;
					    padding: 15px;
					    position:relative;
						span{						    
					        padding: 0px 5px;
						    border:none;
						    background:none;
						    color:$primarybg;
						}
						&:hover{
							background:none;
							color:$primarybg;
							border-color:$primarybg;
						}
					}
					&.selected,.current{
						a{
							background:none;
							color:$primarybg;
							border-color:$primarybg;
							&:after{
								content: '';
							    width: 100%;
							    background: $primarybg;
							    height: 2px;
							    border-radius:2px;
							    display: block;
							    position: absolute;
							    bottom: -2px;
							    left: 0;
							}
							span{
								background:$primarybg;
								color:$primarycolor;
							}
						}
					}
				}
			}
			&#subnav{
				padding-left:0;
				padding-right:0;
				ul{
					li{
						a{
							border:none;
							background:none !important;
						}
						&.current,&.selected{
							a{color:$primarybg;}
						}
						&.switch_view{
						 	a{
						 		color:$light-text-color;
						 		background:none;
						 		padding:9px 2px;
						 		border:2px solid $light-text-color;
						 		&.active{
						 			border-color:$primarybg;
						 			color:$primarybg;
						 		}
						 	}
						}
					}
				}
			}
		}
		.dir-list{
			padding-left:0;
			padding-right:0;
			padding-top:0;
		}
	} 
	&.d2.directory{
		#buddypress{
			div.item-list-tabs{
				margin-top:0;
			}
		}
	}
	&.d3.directory,&.d4.directory{
		#buddypress{
			div.item-list-tabs{
				border:1px solid $bordercolor;
				ul{
					width:100%;
					li{
						border-bottom:1px solid $bordercolor;
						&.selected,&.current{
							a{
								&:after{
									width:2px !important;
									height:100% !important;
									left:0;
									top:0;
								}
							}
						}
						&:last-child{
							border:none;
						}
					}
				}
				&#subnav{
					border:none;
					border-bottom:1px solid $bordercolor;
				}
			}
		}
	}
	#buddypress{
		.dir-form .item-list-tabs#subnav{
			margin-bottom:0;
			ul li a{border:2px solid;}
		}
	}
	&.archive.d5, 
	&.directory.d5{
		section#content,
		section#title{
			margin-top:0;
			padding-bottom:0;
		}
	} 
}
.minimal.groups.single-item{
	#buddypress div#item-header{
		div#item-header-content{
			color:#444;
		}
	} 
}

.minimal{
	#buddypress div#item-header{
		background-color:#fafafa;
	}
	&.single-course.c4{
		#buddypress div#item-header{
			background-color:transparent;
		}
	}
}
.minimal.groups.single-item.g4{
	#item-header{
		#item-header-content{
			margin-top:30px;
			.highlight{
				color:#444;
				font-size:11px;
				text-transform:uppercase;
				font-weight:600;
				letter-spacing:1px;
			}
		}
		#item-header-avatar{
			margin:15px 0;
			border-radius:4px;
			overflow:hidden;
			a,img{width:100%;}
		}
	}
	.item-list-tabs{
		&#object-nav{
			text-align:left;
			margin-bottom:0;
		}
	}
	#item-body{
		padding-top:0;
		.item-list-tabs#subnav{
			border-bottom:2px solid $bordercolor;
			ul{
				li{
					clear:none;
					float:left;
					display:inline-block;
					width:auto;
					a{
						padding:15px;
					}
				}
			}
		}
	}
}

/*========================================================================*/
/*   02. PROFILE STYLING
/*========================================================================*/
.minimal{
	#buddypress{
		div#item-header{
			#item-admins{
				h3,h5,h3 a,h5 a{color:#444;}
			}
			#item-header-content{
			    border: 1px solid $bordercolor;
			    border-top: none;
			    border-bottom: none;
			    #item-meta,
			    h3,.location,h3>a,#latest-update h6,
			    span.highlight a{
					color:#444;
				}
			}
		}
		#item-nav{
			margin-top:0;
			.item-list-tabs{
				margin:0;
				padding:0;
				border:1px solid $bordercolor;
				ul{
					li{
						border-bottom:1px solid $bordercolor;
						a{
							color:#444;
							text-align:left;
						}
						&.current,&.selected{
							position:relative;
							a{
								background:none;
								color:$primarybg;
								&:after{
									content:'';
									width:2px;
									position:absolute;
									left:0;
									top:0;
									height:100%;
									background:$primarybg;
								}
							}
						}
					}
				}
			}
		}
	}
	&.single-course{
		#item-header{
			#item-admins{
				border-left:1px solid $bordercolor;
				border-right:1px solid $bordercolor;
				margin:0;
				padding-bottom:20px;
			}
		}
		.total_students,
		.review_title,
		.course_title > h2{
			margin-left:0;
			margin-right:0;
			background:none;
			border-top:1px solid $bordercolor;
			border-bottom:1px solid $bordercolor;
		}
	}
}

.minimal.p2.bp-user,
.minimal.p3.bp-user,
.minimal.p4.bp-user,
.minimal.g2.groups,
.minimal.g3.groups,
.minimal.g4.groups{
	#buddypress{
		#item-nav{
			.item-list-tabs{
				ul{
					float:left;
					li{
						&.current,
						&.selected{
							a{
								&:after{
									width:100%;
									height:2px;
									top:auto;
									bottom:-2px;
								}
							}
						}
					}
				}
			}
		} 
		.eLearning-dashboard{margin-top:30px;}
	}
	
	#buddypress{ 
		#item-header{
			#item-header-content{
				padding:0;
				border:none;
			}
		}
		div.item-list-tabs#object-nav{
			li{
				.flexMenu-popup{
					border:1px solid $bordercolor;
					background:#FFF;
				}
			}
		}
	}
}
.minimal.p2.bp-user,
.minimal.p3.bp-user,
.minimal.g2.groups,
.minimal.g3.groups{
	#item-body{
	    padding-top: 15px;
	}
}

/*========================================================================*/
/*   02. COURSE STYLING
/*========================================================================*/
.minimal.single-course.c2,
.minimal.single-course.c3,
.minimal.single-course.c5{
	.course_header{
		background: #FAFAFA;
		color:#444;
		#item-header{
			#item-header-content{
				a,.breadcrumbs li+li:before{
					color:#444;
				}
			}
			#item-admins{
				border:none;
				h3,h5,h5 a{color:#444;}
			}
			.widget.pricing{
				padding:15px;
			}
		}
	}
	#item-nav{
		margin-top:0;
		background:#FFF;
		border-top:1px solid $bordercolor;
		border-bottom:1px solid $bordercolor;
		.item-list-tabs#object-nav{
			margin:0;
			padding:0;
			border:none;
			ul{
				li{
					border:none;
					a{
						color:#444;
						text-align:left;
					}
					&.current,&.selected{
						position:relative;
						a{
							background:none;
							color:$primarybg;
							&:after{
								content:'';
								position:absolute;
								background:$primarybg;
								width:100%;
								height:2px;
								top:auto;
								left:0;
								bottom:-2px;
							}
						}
					}
				}
			}
		}
	}
	.course_description+.course_curriculum .course_title h2{
		padding:15px 0;
	}
	.students_undertaking{
		border:1px solid $bordercolor;
	}
}

.minimal.single-course.c5 .course_header #item-header .widget.pricing{
	background:#FFF;
}

.minimal.single-course.submissions{
	.course_sub_action{
		position:relative;
		&.current{
			a{
				color:$primarybg;
				&:after{
					content:'';
					position:absolute;
					left:0;
					bottom:-2px;
					height:2px;
					width:100%;
					background:$primarybg;
				}
			}
		}
	}
}
.single-course.c3.minimal,
.single-course.c4.minimal{
	#item-nav{
		.item-list-tabs#object-nav{
			li{
				&.flexMenu-viewMore{
					.flexMenu-popup{
						background:#FFF;
						border:1px solid $bordercolor;
					}
				}
			}
		}
	}
}
/*========================================================================*/
/*   02. SIDEBARS STYLING
/*========================================================================*/
.minimal{
	.widget{
		&.pricing{
		    border: 1px solid $bordercolor;
    		background: #Fafafa;
		}
		.course_filters{
			border:1px solid $bordercolor;
			border-radius:2px;
		}
		.course_cat_nav{
			background:none;
			border:1px solid $bordercolor;
			ul{
				li{
					a{
						color:#444;
						border-bottom: 1px solid $bordercolor;
						span{
							background:none;
							color:$primarybg;
							border:2px solid $primarybg;
						}
						&:hover{
							color:$primarybg;
							span{
								background:$primarybg;
								color:$primarycolor;
							}
						}
					}
					&.current-cat{
						&>ul{
							background:#fafafa;
							a{
								color:#444;
							}
						}
					}
				}
			}
		} 
	}
}


/*========================================================================*/
/*   02. FOOTER STYLING
/*========================================================================*/

.minimal{
	footer{
		border-top:1px solid $bordercolor;
		.footerbottom{
			border-top:1px solid $bordercolor;
		}
		.form_field,input[type="text"]{
			border:1px solid $bordercolor;
			color:#444;
		}
	}
	#footerbottom{
		border-top:1px solid $bordercolor;
	}
}

/*========================================================================*/
/*   02. MISC STYLING
/*========================================================================*/
.minimal{
	.dash-widget { border: 1px solid $bordercolor; }
	.countdown,.counttime{color:#444;}
	.quiz_bar{border:2px solid #444;
	.ques_link{color:#444;}
	}
}