/**
 * File: groups.scss
 * Description : Contains all styling for the Course Directory in ELEARNING
 * Author: Mr.Vibe 
 * Credits: www.VibeThemes.com
 * Project: ELEARNING
 * version 2.0
 **/
/*========================================================================*/
/*   TABLE OF CONTENT
/*========================================================================*/
/*
/*    01. GLOBAL STYLING
/*    02. GRID STYLING
/*    03. 
/*
/*========================================================================*/
/*   01. DEFAULT STYLING 
/*========================================================================*/

#buddypress{
	ul.item-list{
		&.grid{
			li{
				margin-bottom:30px;
				&.course_single_item{

					.col-md-4.col-sm-4,
					.col-md-8.col-sm-8{
						width:100%;
					}
					.col-md-4.col-sm-4{
						width:100%;
						.item-avatar{
							float:none;
							max-width:100%;
							margin:0;
							img{
								border-bottom-left-radius:0;
								border-bottom-right-radius:0;
							}
						}
					}
					.col-md-8.col-sm-8{
						width:100%;
						.item{
							display:inline-block;
							width:100%;
							.course-star-rating{
								display:inline-block;
								& + strong{display:none;}
							}
							.students{display:block;}
						}
					}
					.item-credits{margin:0;}
					.item-instructor{display:none;}
				}
				
				.item{
				    border: 1px solid $bordercolor;
				    padding: 15px;
				    border-top:none;
				    border-left-bottom-radius:2px;
					border-right-bottom-radius:2px;
				    text-align: center;
				    .item-title{margin-bottom:10px;}
				    .item-meta{

				    }
				    .item-desc{display: none;}
				    .item-credits{
				    	display:inline-block;
				    	padding:10px;
				    	width:100%;
				    	span.subs{
				    		float:none;
				    	}
				    }
				}
			}
		}
	}
}




/*-------------------------------------------------------------------------
3.8 - STAR RATING
-------------------------------------------------------------------------*/
#course-list{
	li{
		div.item-desc{
			margin:15px 0;
		}
		.item-meta{
			display: block;
			margin-top:5px;
			font-size: 11px;
			line-height:1.6;
			color:$light-text-color;
			.course-star-rating{
				display:inline;
				line-height:1;
				margin-right:5px;
			}
			.students{
				display: inline-block;
				font-weight:600;
				margin-left:5px;
				i{
					line-height: 0;
					float: left;
					font-size: 18px;
					margin:-2px 10px 0 10px;
				}
			}
		}
	}

} 

