/**
 * File: header.scss
 * Description : Contains all general styling for the ELEARNING Courses
 * Author: Mr.Vibe 
 * Credits: www.VibeThemes.com
 * Project: ELEARNING
 * version 2.0
 **/
/*========================================================================*/
/*   TABLE OF CONTENT
/*========================================================================*/
/*
/*    01. HEADER STYLING
/*    02. PROFILE HEADER
/*    03. GROUP HEADER
/*    04. HEADER AVATAR
/*    05. LINKS STYLING
/*    06. LISTS STYLING
/*    07. PAGE BLOCKS
/*    08. MISCELLANEOUS
/*
/*========================================================================*/
/*   01. DEFAULT STYLING 
/*========================================================================*/




/*-------------------------------------------------------------------------
3.8 -SINGLE COURSE
-------------------------------------------------------------------------*/
.course_title{
	position: relative;
	h1{
	margin:0;
	font-weight:600;
	}
	 h6{
		font-size:15px;
		line-height: 1.4;
	}
}
.widget.pricing{
	position: relative;
	background:#FFF;
	padding:10px 20px 10px;
	border-radius:2px;
	box-shadow:0 1px 1px #EEE;
}

.course_sharing{
	display: inline-block;
	padding:0;
	width:100%;
	a{font-size:20px;} 
	& > ul.socialicons{
		padding-top:20px;
	}
}
.course_button.button{
	padding: 2em 0.1em !important;
	background-color: #78c8ce;
	width:100%;
	text-align: center;
}

.widget.pricing .course_sharing .socialicons.round li > a:hover,
.widget.pricing .course_sharing .socialicons.square li > a:hover{
	color:$primarycolor;
	background:$primarybg;
}


.single-course.c2,
.single-course.c3,
.single-course.c5{
	section#title{
		padding-top:0px;
	}	
} 