/**
 * File: submission.scss
 * Description : Contains all styling for the Groups in ELEARNING
 * Author: Mr.Vibe 
 * Credits: www.VibeThemes.com
 * Project: ELEARNING
 * version 2.0
 **/
/*========================================================================*/
/*   TABLE OF CONTENT
/*========================================================================*/
/*
/*    01. DEFAULT STYLING
/*    08. MISCELLANEOUS
/*
/*========================================================================*/
/*   01. DEFAULT STYLING 
/*========================================================================*/

.custom_content{
	padding:20px 30px 30px;
	border:1px solid $bordercolor;
	margin-bottom:30px;
	background:#F6F6f6;
	border-radius:2;
}

.custom_content h4,
.certifications h4,
.courses_undertaken h4{
	margin: 0 0 10px;
	border-bottom: 1px solid $bordercolor;
	padding-bottom: 10px;
	font-weight:600;
}

.courses_undertaken{
	padding:20px 30px 30px;
	li{
		float:left;
		margin: 10px 10px 0 0;
		border:1px solid $bordercolor;
	}
}


.course_students li,
.quiz_students>li,
.assignment_students>li{
	clear:both;
	padding:15px 0;
	border-bottom:1px solid $bordercolor;
	display: inline-block;
	width:100%;
	h6{
		margin:0;
		&+span {
			font-size: 11px;
			text-transform: uppercase;
			font-weight: 600;
			color: #bbb;
			line-height: 1;
		}
	}
}



.course_students,
.quiz_students,
.assignment_students{
	li{
		position: relative;
		margin:0;
		img{
			width:48px ;
			border-radius:50% ;			
			margin-right:10px;
			float:left;
		}
		& > ul{
			position: absolute;
			right:0;
			top:0;
			& > li{
				float:left;
				clear:none;
				margin-left:10px;
				padding:0;
				border:none;
				width:auto;
				display: inline-block;
				& > a{
					font-size:20px;
					color:$light-text-color;
					padding:16px 0 0;
					display: inline-block;
					cursor:pointer;
					&:hover{
						color:$primarybg;
					}
				}
			}
		}
		input[type="checkbox"]{
			float: left;
			margin: 20px 10px 0 0;
		}
	}	
} 

/*========================================================================*/
/*   01.MISC
/*========================================================================*/


.course.submissions.single-course{
	.tab-content{
		padding:30px 0;
		.submissions_form{
			border:1px solid $bordercolor;
			padding:15px 30px;
			#fetch_quiz_submissions{
				cursor:pointer;
			}
			& + .course_students{
				margin-top:30px;
			}
		}
	}
}

#remarks_message{
    width: 100%;
    border: 1px solid $bordercolor;
    padding: 10px;
}