.clearfix:after, .module_settings:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
} /* IE6 */
*:first-child+html .clearfix {
    zoom: 1;
} /* IE7 */

.column_active {
    background: #cecece !important;
    border-color: #9b9b9b !important;
}

#v_save {
    text-align: right;
    overflow: hidden;
    padding: 15px 0;
    
}

.eLearning-button-save-new-layout,
input[type="submit"].eLearning-button-save{
	font-weight: bold;
		cursor: pointer;
		margin: auto 5px;
		height: 29px;
		line-height: 27px;
		padding: 0px 15px 0px 15px;		
		-moz-box-shadow: 1px 1px 3px #ddd;
		-webkit-box-shadow: 1px 1px 3px #ddd;
		box-shadow: 1px 1px 3px #ddd; 
	           -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #DE9D2A;
	background: #FEDA71;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEDA71), color-stop(100%,#FEBA48));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feda71', endColorstr='#feba48',GradientType=0 );
	font-weight: bold;
	font-size: 11px;
	color: #7F5429;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.06);
	text-decoration: none;
	
}
.eLearning-button-save-new-layout{
    padding:7px 15px;
}

#page_builder {
    width: 95%;
    font-style: italic;
    font-size: 14px;
    margin: 10px 0;
    padding: 10px 7px;
    position: relative;
    clear:both;
}

#eLearning_editor_controls {

}



#eLearning_editor_controls a {
    text-decoration: none;
    position: relative;
    margin: 5px 10px 5px 0;
}


#eLearning_editor_controls #heading_title, #eLearning_editor_controls a {
    float: left;
}

#eLearning_editor_controls a:first-child {
    background: none;
}

.eLearning_editor_option label{
	padding: 10px 0;
        float:left;
}

.eLearning_editor_option .builder_enable{
    margin:10px 15px;
    width:86px;
    height:26px;
    display:block;
    background:url(../images/disable.png) no-repeat;
    position: absolute;
    top: -50px;
    right: 20px;
    display: block;
}

 .content_addon{
    position: absolute;
    right: 5px;
    top: 40px;
    margin: 0 10px;
    z-index:99;
}

.eLearning_editor_option .builder_enable input{
    display:none;
}

.builder_enable._enable{
    background:url(../images/enable.png) no-repeat;
}

#builder_disable{margin-left:20px;}

#eLearning_editor_controls span {
    display: block;
padding: 6px 10px;
font-size: 12px;
text-decoration: none;
font-weight: 500;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
margin-top:10px;
float:left;

color: white;
background: #5EA028 url(../images/button.png);
border: 1px solid #467f18;
}

#eLearning_editor_controls span i.dashicons{font-size:16px;}

#modules {
    padding: 0;
    margin: 15px 0;
    position: relative;
    font-family: Arial, sans-serif;
    font-style: normal;
    min-height: 40px;
    display: none;
}

#module_settings{
	background: #F6f7f8;
	padding: 10px;
	margin: 20px 0;
        position:relative;
}

#module_settings label{
	display: block;
	width: 270px;
	margin: 10px;
	font-size: 12px;
	color: #888;
	float: left;
}
#modules .module{
    display: inline-block;
    padding: 9px 12px 10px 28px;
    font-size: 11px;
    margin: 0 17px 10px 0;
    cursor: move;
    position: relative;
    background: #FEFEFE url(../images/button.png);
    border: 1px solid #DDD;
}

#modules .m_column {
    display: none;
}

#modules .module:hover, #modules .module.ui-draggable-dragging {
    box-shadow: 0 0 5px #EEE;
}

#modules .module .move {
    display: block;
    position: absolute;
    top: 10px;
    left: 8px;
    font-family: 'dashicons';
    font-size:16px;
    width: 16px;
    height: 16px;
}
#modules .module .move:before{
    content: "\f168";
}
#modules .module:hover .remove{
    display:block;
} 

#layout_container {
    padding: 21px;
    background: url(../images/bg.png);
    border: 1px solid #EFEFEF;
    position: relative;
    margin-top: 20px;
}

.overlay{
    display:none;
    position: absolute;
top: 50%;
left: 30%;
max-width: 200px;
background: #FFF;
padding: 20px;
border: 1px solid #EFEFEF;
box-shadow: 0 0 10px #333;
text-align: center;
z-index:99;
}

.overlay input[type="text"]{
    margin:12px 0;
}

.overlay label{
    width:100%;
}
.overlay .error{
    display:block;
    color:#F76541;
}

.overlay h3.success{
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 45px 60px !important;
}
.overlay .remove{
    width:16px;
    height:16px;
    display:block;
    background: url(../images/remove.png);
    position:absolute;
    top:-8px;
    right:-8px;
}
#layout {
    min-height: 300px;
    position: relative;
}

.module_placeholder {
    border: 2px solid #fde0d2;
    margin: 7px 0 7px;
    float: left;
    text-shadow: 1px 1px 1px #fff;
}

.module_placeholder, #layout .module {
    padding: 14px 0 20px;
    text-align: center;
    color: #d4a38c;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-size: 14px;
}

#layout .module {
    background: #5EA028 url(../images/button.png);
    margin: 7px 0 7px 2%;
    float: left;
    color: #fff;
    position: relative;
    border: 1px solid #467F18;
     text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
     border-radius:0;
}

#layout .module:hover, #layout .module.ui-resizable-resizing {
    cursor: move;
}

#layout.ui-sortable-disabled .module:hover {
    cursor: default;
}

#layout .module.ui-resizable-resizing {
    cursor: e-resize !important;
}

#layout .module.m_column.ui-resizable-resizing {
    background: #f3f3f3;
}

#layout > .module {
    width: 698px;
}

#layout .m_column {
    padding: 12px;
    background: #f3f3f3;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #dedede;
    color: #111;
    position: relative;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
    color: #b1b1b1;
    text-shadow: 1px 1px 1px #fff;
    min-height: 22px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#layout .m_column:hover {
    background: #f3f3f3;
}

#layout .m_column .module {
    margin-left: 0;
}

#layout .m_column_1_2 {
    width: 49%;
}

#layout .m_column_1_3 {
    width: 32%;
}

#layout .m_column_2_3 {
    width: 66%;
}

#layout .m_column_1_4,#layout .m_column_1_4_2 {
    width: 23.5%;
}

#layout .m_column_3_4 {
    width: 74.5%;
}

#layout .m_column_resizable {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#layout .module .move, #layout .module .delete, #layout .module .settings_arrow {
    display: block;
    position: absolute;
}

#layout .module .move {
    font-family:'dashicons';
    font-size:16px;
    top: 18px;
    right: 19px;
}
#layout .module .move :before{
    content: "\f168";
}

#layout .module .delete {
    font-family: 'dashicons';
    font-size:16px;
    top: 19px;
    left: 20px;
    cursor: pointer;
    font-style:normal;
}
#layout .module .delete:before{
     content: "\f158";opacity: 0.4;
}

#layout .module .delete.delete_column {
    display: block;
    font-family: 'dashicons';
    font-size:18px;
    position: absolute;
    top: 12px;
    left:auto;
    right: 15px;
    font-style:normal;
    cursor: pointer;
}
#layout .module .delete.delete_column:before{
    content: "\f158";
}


#layout .module .settings_arrow {
    right: 20px;
    bottom: 15px;
    font-family: 'dashicons';
    font-size:16px;
    cursor: pointer;
    font-style:normal;
    margin-left: -5px;
}
#layout .module .settings_arrow:before{
    content: "\f111";
    opacity: 0.4;
}
#layout .module .settings_arrow:hover:before{opacity: 1;}
#layout .m_column .module .settings_arrow {
    right: 20px;
}

#layout .m_column .move {
    display: none !important;
}

.module_settings {
    display: none;
}

.wp-editor-container{
	background: #FFF;
}

.wp-editor-wrap{
}


.module_settings {
    color: #000;
    text-shadow: none;
}

.modal_blocker {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    -ms-filter: 'alpha(opacity=60)';
    filter: alpha(opacity=60);
    z-index: 100;
}

#dialog_modal {
    -moz-box-shadow: rgba(0,0,0,1) 0 4px 30px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 4px 30px;
    -khtml-box-shadow: rgba(0,0,0,1) 0 4px 30px;
    box-shadow: rgba(0,0,0,1) 0 4px 30px;
    border: 1px solid #2b2b2b;
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -348px;
    z-index: 101;
    background: #fff;
}

#dialog_settings {
    padding: 20px;
    width: 656px;
    background: #515151;
}

.dialog_handle {
    background: #393939;
    padding: 14px;
    color: #fff;
    cursor: move;
}

#v_slider_images .attachment{
    background: #f1f1f1;
padding: 10px;
border: 1px solid #efefef;
margin-bottom: 10px;
}

#v_slider_images .attachment > img {
    float: left;
    margin: 5px 15px 5px 5px;
    padding:5px;
    max-width:25%;
    background:#FFF;
    border:1px solid #EFEFEF;
    position: relative;
}

.attachment_options {
    float: right;
    width: 70%;
}

#module_settings .attachment_options label{
    width: 100px;
text-shadow: none;
color: #999;
padding: 0;
margin: 0 0 5px;
text-align: left;
}
.attachment_options p{
    margin-top: 0;
}

#v_helper {
    position: absolute;
    top: 15px;
    left: 50px;
    font-size: 20px;
    text-shadow: 1px 1px 0 #fff;
    color: #777;
    padding: 20px;
    text-align: center;
    line-height: 40px;
}

.v_helper.hidden {
    display: none;
}

#active_.module_settings {
    margin-right: 17px;
    position: relative;
    display: none;
    padding-top: 6px;
}

#active_.module_settings:before {
    content: '';
    position: absolute;
    bottom: -19px;
    left: 0;
    width: 100%;
    height: 8px;
    background: url(../images/layout_builder/module_options_arrow.png) no-repeat bottom center;
    z-index: 10;
}

#close_module_settings, #close_dialog_settings {
    display: block;
    position: absolute;
    width: 10px;
    height: 11px;
    background: url(../images/layout_builder/delete_column.png) no-repeat;
    top: 10px;
    right: 10px;
}

#close_dialog_settings {;
}



#active_.module_settings .wp-editor-container, dialog_settings .wp-editor-container {
    background: #fff;
}

#active_.module_settings .wp-media-buttons a, .module_settings > a {
    color: #eee;
}

.module_settings > p, dialog_settings > p, #v_slider_images .attachment {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-size: 13px;
    width:90%;
}

.module_settings p.submit, dialog_settings  p.submit {
    clear: both;
    padding: 12px 0 !important;
}

.module_settings > p > label, dialog_settings > p > label, #v_slider_images .attachment  label, .lb_tab label {
    float: left;
    width: 90%;
    margin-right: 2%;
    padding-top: 12px;
    cursor: default;
}

.module_settings > p > input[type="text"], dialog_settings > p > input[type="text"], #v_slider_images .attachment  input, #v_slider_images .attachment  textarea, .lb_tab input {
    float: left;
    width: 78%;
    background: #FFF;
    border: 1px solid #EFEFEF;
    padding: 4px 10px;
}

#v_slider_images .attachment textarea {
    width: 90%;
}

#v_slider_images .attachment  a, .lb_tab a.lb_delete_tab {
    color: #CFCFCF;
    text-decoration: none;
    font-size: 12px;
}

#v_slider_images .attachment  a:hover {
    color: #fff;
}

a.delete_attachment, a.change_attachment_image {
    display: inline-block;
    padding: 10px 10px 10px 0;
    font-weight: bold;
}
a.delete_attachment{
    position:absolute;
    top: -5px;
    right: -15px;
    text-indent:-9999px;
    width:16px;
    height:16px;
    display:block;
    background: url(../../images/cross.png) no-repeat;
} 
a.change_attachment_image{
    position:absolute;
    top: -5px;
    left: -5px;
    text-indent:-9999px;
    width:16px;
    height:16px;
    display:block;
    background: url(../images/edit.png) no-repeat;
}

span.module_option_number {
    color: #fff0b5;
    display: none;
}

.module_settings select, dialog_settings select {
    margin-top: 11px;
}

span#settings_title {
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #999;
    text-shadow: 0 1px 0 white;
    border-bottom: 1px solid #DDD;
}

.first {
    margin-left: 0 !important;
    clear: both;
}

.module_width {
    font-size: 11px;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}

.column_name .module_width {
    color: #B1B1B1;
}

#v_add_slider_images{
    float:right;
}
.remove_uploaded{
    display:none;
    background:url(../../images/cross.png) no-repeat;
    text-indent:-9999px;
    width:16px;
    height:16px;
    position:absolute;
    top:-2px; left:312px;
}
img.uploaded_image{
    float:left;
    max-width: 240px;
    height:auto;
}
a.v_upload_button.button, add_slider_images{
    cursor: pointer;
    float: left;
    margin: 0 20px;
}
#active_module_settings .iris-picker{position:absolute;
top:0;right:0;}
.add_slider_images{
    float: left;
    margin: 8px 0 0;
}

input.v_upload_field {
    width: 64% !important;
}

#slides {
    clear: both;
    margin-top: 23px;
}

.v_delete_confirmation {
    display: block;
    position: absolute;
    bottom: 20px;
    left: -67px;
    width: 106px;
    background: #EFEFEF;
    font-size: 11px;
    color: #4a4a4a;
    text-shadow: none;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 12px 16px 9px;
    text-align: left;
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    z-index: 9999;
}

.v_delete_confirmation span {
    display: block;
    margin-bottom: 7px;
}

.v_delete_confirm_yes, .v_delete_confirm_no {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 5px 0 6px;
    width: 45px;
    font-style: normal;
    text-align: center;
}

.v_delete_confirmation a:hover {
    color: rgba(255,255,255,0.9);
}

.v_delete_confirm_yes {
    margin-right: 10px;
    border: 1px solid #DE9D2A;
background: #FEDA71;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEDA71), color-stop(100%,#FEBA48));
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feda71', endColorstr='#feba48',GradientType=0 );
font-weight: bold;
font-size: 11px;
color: #7F5429;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.06);
 
}

.v_delete_confirm_no {
    border: 1px solid #7f7f7f;
    background: rgb(165,165,165);
}

#v_ajax_save {
    position: fixed;
    top: 45%;
    left: 50%;
    margin-left: -71px;
    padding: 20px 40px 20px 34px;
    background: #ffffff;
    overflow: hidden;
    border: 1px solid #eeeeee;
    display: none;
    width: 100px;
    z-index: 9999;
}

#v_ajax_save img {
    float: left;
}

#v_ajax_save span {
    font-size: 15px;
    color: #999;
    margin: 6px 0px 0px 30px;
    float: right;
}

a.button.addclasstocsstext{
    margin:2px;
}

a.button.fadeoutbutton{
    opacity:0.7;
}

input.csstext{border: none;
padding: 0px;
}

.mceMenuItem{
    background: #F6f6f6;
border: 1px solid #DDD;
height: 20px;
overflow: hidden;
width: 135px;
}
.mceMenuItem:even{
    margin-left: 135px;
display: block;
position: absolute;
margin-top: -29px;
border-left:none;
padding: 0 4px 8px;
width: 135px;
border: 1px solid #DDD;
}


.radio_images{
    float: left;
max-width: 80px;
margin: 0 8px 20px;
}
.radio_images img{
    width:100%;
}
p.clearfix input[type="text"]{
    width:auto;
}
.clicked{
    position:relative;
}
.clicked span{
    background:url(../images/tick.png) no-repeat;
    width:16px;
    height:16px;
    position:absolute;
    bottom:10px;
    right:10px;
}

span.unsaved{
    color:#f9edbe;
}
.regular-textarea{
    height:60px;
}
.select_yesno_val{
    display:none;
}
.select_yesno_button{
    display:block;
    float:left;
        width:65px;
        height:26px;
        background: url(../images/no.png) no-repeat;
}

.select_yesno_button.enable{
    background: url(../images/yes.png) no-repeat;
}


p.clearfix{
    position:relative;
}

span.divider{
    background: #DDD;
height: 1px;
width: 70%;
display: block;
position: absolute;
top: 18px;
left: 25%;
z-index: 1;
}

.toggle{
    width:16px;
    height:16px;
    display:block;
    background: url(../images/toggle_up.png) no-repeat;
    float:right;
    margin-top:14px;
}

.closed.toggle{
    background: url(../images/toggle_down.png) no-repeat;
}