
#headertop .topmenu li{
    border: none;
    padding: 5px 15px;
    margin: 0px;
}

.topmenu .fa{
    font-size: 20px;
    color: #000;
}
.topmenu .smalname{
    font-size: 17px;
    color: #000 !important;
    margin-right: 1px;
}


.topmenu .fa-chevron-down{
    margin-right: 15px;
    font-size: 15px;
}

#item-header-avatar{
    display: none;
}

#item-header-content{
    display: none;
}

.item-list-tabs ul li a:hover{
    background: transparent !important;
    color: #0074b5!important;
}

.item-list-tabs ul li.current a{
    background: #0074b5 !important;
    color: #fff !important;
    border: 0px;
}

.topmenu .faIcon{
    margin-top: 5px !important;
    cursor: pointer;
}

.topmenu .faIcon :hover{
    cursor: pointer;
}
.item-list-tabs#subnav ul{
    float: right;
}

.item-list-tabs#subnav li a{
    border: none !important;
    color: #000 !important;
}

.item-list-tabs#subnav li.current a{
    border: none !important;
    background: #ebeaec !important;
    color: #009DD8 !important;
}

#buddypress .item-list-tabs#subnav{
    border: none;
}

.item-list-tabs .bp_section_title {
    margin-top: 9px;
    color: #000;
    padding-left: 0px;
    font-size: 19px;
    font-weight: 100;
}

#buddypress .item-list-tabs#subnav{
    padding: 30px 0;
}

.btn_change{
    margin-top: 43px;
    padding: 3px 25px;
    background: #b6b6b6;
}
.btn_change:hover{
    background: #b6b6b6;
    color: #fff;
}

.bp_section_label{
    color: #000;
    padding: 2px 0px;
}

.padder .submit{
    margin-top: 50px;
}

#buddypress #item-nav .item-list-tabs li a {
    margin-bottom: 5px;
}

.padder .submit #submit{
    padding: 10px 40px;
    border-radius: 8px;
    font-size: 14px;
}

#content{
    background: #fff;
}

#headertop {
    /*    height: 61px;
        margin-bottom: -30px;*/
}

.bp_profile_img {
    margin-top: 25px;
    padding-left: 0px;
}

.padder #name.col-sm-9.bp_profile_name{
    margin-bottom: 35px;
}

.padder #checkbox{
    height: 16px;
}

.bp_checkbox_label{
    color: #000;
    margin-bottom: 15px !important;
}

#buddypress #item-nav .item-list-tabs li a span {
    display: none;
}

.edit-avatar{
    width: 91%;
    position: absolute;
    bottom: 0px;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    color: #fff;
    background: rgba(34, 34, 34, 0.6);
    text-transform: uppercase;
}

.account-privacy.standard-form{
    padding-left: 0px;
}

#item-nav{
    padding-top: 5px;
}

#activity-personal-li,
#notifications-personal-li,
#settings-personal-li {
    display: none;
}

#buddypress label{
    font-weight: 100 !important;
}

#global #headertop .topmenu a{
    color: #000 !important;
}

input, textarea {
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
}

.item-list-tabs#subnav li a {
    border: none !important;
    color: rgba(0, 0, 0, 0.59) !important;
}

.add_site_page a{
    display: block;
    background: #1daeee;
    float: right;
    padding: 7px 9px;
    margin-bottom: 10px;
}
.add_site_page a i{
    font-size: 20px;
    color: #fff;
}
.front-end-table .actions{
    text-align: center;
}
.front-end-table .actions-hed{
    text-align: center;
    width: 180px;
}
.front-end-table .actions a{
    margin: 0px 3px;
    text-transform: uppercase;
    font-size: 13px;

}

.front-end-table .actions .delete{
    color:#c2726f;

}

.front-end-table  th{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.59);
    margin-bottom: 33px;
    line-height: 2!important;
}
.front-end-table  table a{
    color: #71b2c6;
    font-weight: bold;
}
.front-end-table  table{
    font-size: 13px;
}
.border-bottom-gray{
    margin-bottom: 10px;
    border-bottom: 1px solid #cacaca;
}
.standard-form .describe{
    color:#cacaca;
    font-style: italic;
}


#course_creation_tabs.course-create-steps li{
    padding: 0px;
    display: block;
}
#course_creation_tabs.course-create-steps li:after{
    display: none!important;
}
#course_creation_tabs.course-create-steps li a{
    padding: 12px 20px;
    line-height: 1.6;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.59);
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    opacity: 1;
}
#course_creation_tabs.course-create-steps{
    background: none;
    border: 0px;
} 
#course_creation_tabs.course-create-steps li.active a{
    background: #ebeaec !important;
    color: #009DD8 !important;
    border: 0px;
}
.instructor-dashboard-wrappes .title-wrapper{
    padding: 0px 40px;
    margin-bottom: 40px;
}

.instructor-dashboard-wrappes .dash-title{
    border-bottom: 2px solid #16a3da;
    text-align: center;
}
.instructor-dashboard-wrappes .sec-one {
    text-align: right;
}
.instructor-dashboard-wrappes .sec-tow{
    font-size: 12px;
}
.instructor-dashboard-wrappes .dash-cube{
    padding: 30px 10px 20px 10px;
    text-align: center;
    background: #e5e5e5;
    margin-bottom: 25px;
}
.instructor-dashboard-wrappes .fa{
    font-size: 55px;
}
.instructor-dashboard-wrappes  .dash-cube-text{
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 13px;
}
.instructor-dashboard-wrappes .dash-cube a{
    color: #aaaaaa;
}
.instructor-dashboard-wrappes .dash-cube-second  .dash-cube-text{

}
.instructor-dashboard-wrappes .dash-cube-second .fa{
    position: absolute;
    bottom: -17px;
    left: -7px;
}
.instructor-dashboard-wrappes .dash-cube-second a{
    color: #aaaaaa;
}
.instructor-dashboard-wrappes .dash-cube-second {
    position: relative;
    background: #e5e5e5;
    height: 80px;
    margin-bottom: 50px;
    overflow: hidden;
}
.instructor-dashboard-wrappes .dash-cube-second .dash-cube-text{
    position: absolute;
    top: 10px;
    margin: 0px;
    left: 10px;   
}
.instructor-dashboard-wrappes .dash-cube-second  .count{
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-size: 30px;
}
#header_logo{
    height: 46px;
}
#headertop .homeicon{
    display: block!important;
}
.menu-bars{

}

#eLearning_bp_login.default_login{
    top: 54px;
    background: #ebeaec;
}
#eLearning_bp_login.default_login ul+ul{
    background: #ebeaec;
}
#eLearning_bp_login.default_login ul+ul li a{
    color: rgba(0, 0, 0, 0.59);
}
#eLearning_bp_login.default_login ul li#vbplogout a{
    color: rgba(0, 0, 0, 0.59);
}
#eLearning_bp_login.default_login a:hover{
    color: #000 !important;
} 
#eLearning_bp_login.default_login ul li a{
    color: rgba(0, 0, 0, 0.59);
}
#eLearning_bp_login.default_login label{
    color: rgba(0, 0, 0, 0.59);
}
#headertop{
    height: 62px;
}
#headertop.fixed .homeicon img{
    max-height: 46px!important;
}
.eLearning_eLearning_event_is_recorded .switch{
    float: left!important;
}

#buddypress .item-list-tabs ul li a{
    font-size: 13px!important;
}
#buddypress .item-list-tabs#subnav ul li a{
    font-size: 10px!important;
}

.front-end-table a.page-numbers{
    color: #686868;
}
.front-end-table span.page-numbers.current{
    background: none;
}
#buddypress #item-nav .item-list-tabs{
    background: #000; 
}
#buddypress #item-nav .item-list-tabs ul li a{
    color: rgb(255, 255, 255);
}
#buddypress #item-nav .item-list-tabs ul li a:hover{
    color: #0074b5;
}