#headertop .topmenu li {
    border: none;
    padding: 5px 15px;
    margin: 0px;
}

.topmenu .fa {
    font-size: 20px;
    color: #000;
}

.topmenu .smalname {
    font-size: 17px;
    color: #000 !important;
    margin-right: 1px;
}

.topmenu .fa-chevron-down {
    margin-right: 15px;
    font-size: 15px;
}

#item-header-avatar {
    display: none;
}

#item-header-content {
    display: none;
}

.item-list-tabs ul li a:hover {
    background: transparent !important;
    color: #0074b5!important;
}

.item-list-tabs ul li.current a {
    /* background: #78c8ce !important;*/
    color: #fff !important;
    border: 0px;
}

.topmenu .faIcon {
    margin-top: 5px !important;
    cursor: pointer;
}

.topmenu .faIcon :hover {
    cursor: pointer;
}

.item-list-tabs#subnav ul {
    float: right;
}

.item-list-tabs#subnav li a {
    border: none !important;
    color: #000 !important;
}

.item-list-tabs#subnav li.current a {
    border: none !important;
    background: #ebeaec !important;
    color: #009DD8 !important;
}

#buddypress .item-list-tabs#subnav {
    border: none;
}

.item-list-tabs .bp_section_title {
    margin-top: 9px;
    color: #000;
    padding-left: 0px;
    font-size: 19px;
    font-weight: 100;
}

#buddypress .item-list-tabs#subnav {
    padding: 30px 0;
}

.btn_change {
    margin-top: 43px;
    padding: 3px 25px;
    background: #b6b6b6;
}

.btn_change:hover {
    background: #b6b6b6;
    color: #fff;
}

.bp_section_label {
    color: #000;
    padding: 2px 0px;
}

.padder .submit {
    margin-top: 50px;
}

#buddypress #item-nav .item-list-tabs li a {
    /*  margin-bottom: 5px;*/
}

.padder .submit #submit {
    padding: 10px 40px;
    border-radius: 8px;
    font-size: 14px;
}

#content {
    background: #fff;
    max-width: 100% !important;
    width: 100% !important;
}

#headertop {
    /*    height: 61px;
        margin-bottom: -30px;*/
}

.bp_profile_img {
    margin-top: 25px;
    padding-left: 0px;
}

.padder #name.col-sm-9.bp_profile_name {
    margin-bottom: 35px;
}

.padder #checkbox {
    height: 16px;
}

.bp_checkbox_label {
    color: #000;
    margin-bottom: 15px !important;
}

#buddypress #item-nav .item-list-tabs li a span {
    display: none;
}

.edit-avatar {
    width: 91%;
    position: absolute;
    bottom: 0px;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    color: #fff;
    background: rgba(34, 34, 34, 0.6);
    text-transform: uppercase;
}

.account-privacy.standard-form {
    padding-left: 0px;
}

#item-nav {
    padding-top: 5px;
}

#activity-personal-li,
#notifications-personal-li,
#settings-personal-li {
    display: none;
}

#buddypress label {
    font-weight: 100 !important;
}

#global #headertop .topmenu a {
    color: #000 !important;
}

input,
textarea {
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
}

.item-list-tabs#subnav li a {
    border: none !important;
    color: rgba(0, 0, 0, 0.59) !important;
}

.add_site_page a {
    display: block;
    background: #1daeee;
    float: right;
    padding: 7px 9px;
    margin-bottom: 10px;
}

.add_site_page a i {
    font-size: 20px;
    color: #fff;
}

.front-end-table .actions {
    text-align: center;
}

.front-end-table .actions-hed {
    text-align: center;
    width: 180px;
}

.front-end-table .actions a {
    margin: 0px 3px;
    text-transform: uppercase;
    font-size: 13px;
}

.front-end-table .actions .delete {
    color: #c2726f;
}

.front-end-table th {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.59);
    margin-bottom: 33px;
    line-height: 2!important;
}

.front-end-table table a {
    color: #71b2c6;
    font-weight: bold;
}

.front-end-table table {
    font-size: 13px;
}

.border-bottom-gray {
    margin-bottom: 10px;
    border-bottom: 1px solid #cacaca;
}

.standard-form .describe {
    color: #cacaca;
    font-style: italic;
}

#course_creation_tabs.course-create-steps li {
    padding: 0px;
    display: block;
}

#course_creation_tabs.course-create-steps li:after {
    display: none!important;
}

#course_creation_tabs.course-create-steps li a {
    padding: 12px 20px;
    line-height: 1.6;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.59);
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    opacity: 1;
}

#course_creation_tabs.course-create-steps {
    background: none;
    border: 0px;
}

#course_creation_tabs.course-create-steps li.active a {
    background: #ebeaec !important;
    color: #009DD8 !important;
    border: 0px;
}

.instructor-dashboard-wrappes .title-wrapper {
    padding: 0px 40px;
    margin-bottom: 40px;
}

.instructor-dashboard-wrappes .dash-title {
    border-bottom: 2px solid #16a3da;
    text-align: center;
}

.instructor-dashboard-wrappes .sec-one {
    text-align: right;
}

.instructor-dashboard-wrappes .sec-tow {
    font-size: 12px;
}

.instructor-dashboard-wrappes .dash-cube {
    padding: 30px 10px 20px 10px;
    text-align: center;
    background: #e5e5e5;
    margin-bottom: 25px;
}

.instructor-dashboard-wrappes .fa {
    font-size: 55px;
}

.instructor-dashboard-wrappes .dash-cube-text {
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 13px;
}

.instructor-dashboard-wrappes .dash-cube a {
    color: #aaaaaa;
}

.instructor-dashboard-wrappes .dash-cube-second .dash-cube-text {}

.instructor-dashboard-wrappes .dash-cube-second .fa {
    position: absolute;
    bottom: -17px;
    left: -7px;
}

.instructor-dashboard-wrappes .dash-cube-second a {
    color: #aaaaaa;
}

.instructor-dashboard-wrappes .dash-cube-second {
    position: relative;
    background: #e5e5e5;
    height: 80px;
    margin-bottom: 50px;
    overflow: hidden;
}

.instructor-dashboard-wrappes .dash-cube-second .dash-cube-text {
    position: absolute;
    top: 10px;
    margin: 0px;
    left: 10px;
}

.instructor-dashboard-wrappes .dash-cube-second .count {
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-size: 30px;
}

#header_logo {
    height: 46px;
}

#headertop .homeicon {
    display: block!important;
}

.menu-bars {}

#eLearning_bp_login.default_login {
    top: 54px;
    background: #ebeaec;
}

#eLearning_bp_login.default_login ul+ul {
    background: #ebeaec;
}

#eLearning_bp_login.default_login ul+ul li a {
    color: rgba(0, 0, 0, 0.59);
}

#eLearning_bp_login.default_login ul li#vbplogout a {
    color: rgba(0, 0, 0, 0.59);
}

#eLearning_bp_login.default_login a:hover {
    color: #000 !important;
}

#eLearning_bp_login.default_login ul li a {
    color: rgba(0, 0, 0, 0.59);
}

#eLearning_bp_login.default_login label {
    color: rgba(0, 0, 0, 0.59);
}

#headertop {
    height: 62px;
}

#headertop.fixed .homeicon img {
    max-height: 46px!important;
}

.eLearning_eLearning_event_is_recorded .switch {
    float: left!important;
}

#buddypress .item-list-tabs ul li a {
    font-size: 15px!important;
}

#buddypress .item-list-tabs ul li {
    background-color: #444;
}

#buddypress .item-list-tabs#subnav ul li a {
    font-size: 10px!important;
}

.front-end-table a.page-numbers {
    color: #686868;
}

.front-end-table span.page-numbers.current {
    background: none;
}

#buddypress #item-nav .item-list-tabs {
    /*background: #000; */
}

#buddypress #item-nav .item-list-tabs ul li a img {
    /*color: rgb(255, 255, 255);*/
    padding-right: 10px;
    width: 30px;
}

#buddypress #item-nav .item-list-tabs ul li a:hover {
    color: #0074b5;
}


/**** Customs ****/

#object-nav ul li {
    border: 1px solid rgba(0, 0, 0, .08);
}

#object-nav ul li:nth-child(3) img {
    width: 18%;
}

#subnav,
.my-profile #item-body {
    padding-top: 0px;
}

.Form_Customization_nav li {
    padding-right: 30px;
    float: left;
}

.evantTitle {
    clear: both;
    padding-top: 20px;
}

.event_menu_links {
    display: inline-block;
}

.h6color {
    color: #bfbfbf;
}

.evantTitle .editEvent {
    width: 100%;
    height: 35px;
    border: solid 1px #c0c0c0;
    color: #747373 !important;
    font-size: 22px;
    padding-left: 10px;
}

#elearning3Step1 .left,
#elearning3Step1 .select,
#elearning3Step1 .watch {
    padding-left: 0;
}

.startDate,
.expDuration {
    padding-bottom: 25px;
}

.eventDesc {
    height: 40px;
    width: 100%;
    opacity: 0.5;
}

#elearning3Step1 .right {
    padding-right: 0;
}

.select .step1Select {
    width: 72%;
    height: 35px;
    border: 1px solid #f3f3f3;
    border-radius: 3px;
}

.edit_event .elearning3Step1.select h6.h6color {
    padding-top: 40px;
}

#elearning3Step1 .description {
    padding-left: 0;
    padding-top: 40px;
}

.add {
    color: #2fafdf;
}

#edit_event_form_submit {
    width: 97% !important;
    background-color: #70c989 !important;
    color: white !important;
    padding: 15px;
    font-size: 18px;
    margin-top: 70px;
}

.edit_event .col-lg-6.left input:not(:last-child),
.edit_event .col-lg-6.right input,
.step1Iput.editEvent {
    margin-bottom: 25px;
}

.leave-blann {
    margin-top: -15px;
    display: block;
    font-style: italic;
}

.integreations_img {
    height: 182px;
    width: 29%;
    float: left;
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 30px;
    background-color: rgba(235, 235, 235, 0.21);
    border-radius: 10px;
    position: relative;
}

.hs-elearning .table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-top: none;
    vertical-align: middle;
}

.hs-elearning .prev-edit {
    padding: 0px 10px;
    background: #1E6DAA;
    margin: 0;
    border-radius: 5px;
}

.preview_url,
.preview_url:hover {
    color: #fff;
}

#exportButton {
    background-color: #78c8ce !important;
    height: 44px;
    font-weight: 500;
}

.btn a,
.btn a:hover {
    color: #fff;
}

.hs-elearning .inactive {
    color: #b64a4a;
}

#website-personal-li a:active {
    background: #78c8ce;
}

#website-personal-li.current.selected {
    border-color: #78c8ce !important
}

#registrants_table_filter {
    padding-bottom: 30px;
}

.fm_vg .custom_dashboard .custom_dashboard_text {
    text-align: center;
    display: block;
    font-size: 40px;
    color: #717171;
}

.fm_vg .custom_dashboard .custom_dashboard_line {
    width: 80%;
    height: 3px;
    background: #4d9edc;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.fm_vg .custom_dashboard img {
    margin: 15px 0;
}

.courses_events_students_earnings .numCoord {
    position: absolute;
    right: 30px;
    bottom: 10px;
    color: #404040;
}

/*#vbp-login-form>.inside_login_form>label:nth-child(2) {
    overflow: hidden;
    visibility: hidden;
    height: 0;
}*/

.switch {
    position: relative;
    height: 40px;
    width: 250px;
    background: rgb(246, 246, 246);
    border-radius: 20px;
    margin-bottom: 10px;
}

.switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 50%;
    line-height: 38px;
    font-size: 15px;
    color: #c2c2c2;
    text-align: center;
    cursor: pointer;
}

.switch-label:active {
    font-weight: bold;
}

.switch-label-off {
    padding-left: 2px;
}

.switch-label-on {
    padding-right: 2px;
}

.switch-input {
    display: none;
}

.switch-input:checked+.switch-label {
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
}

.switch-input:checked+.switch-label-on~.switch-selection {
    /* Note: left: 50% doesn't transition in WebKit */
    left: 125px;
}

.switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    left: 2px;
    width: 125px;
    height: 40px;
    background: #70c989;
    border-radius: 20px;
    display: block;
    position: absolute;
    z-index: 1;
    left: 2px;
    width: 125px;
    height: 40px;
    background: #6ec787;
    border-radius: 20px;
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

.switch-blue .switch-selection {
    background: #3aa2d0;
    background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
    background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
    background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
    background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}

/**** customs ****/

#object-nav ul li {
    border: 1px solid rgba(0,0,0,.08);
}
#object-nav ul li:nth-child(3) img {
    width: 40px;
}
#subnav, .my-profile #item-body {
    padding-top: 0px;
}
.Form_Customization_nav li {
    padding-right: 30px;
    float: left;

}
.course_description .small_desc form #buttonSubmit {width: auto !important;}
.evantTitle {
    clear: both;
    padding-top: 20px;
}
.event_menu_links {
    display: inline-block;
}
.h6color {
    color: #bfbfbf;
}
.evantTitle .editEvent {
    width: 100%;
    height: 35px;
    border: solid 1px #c0c0c0;
    color: #747373 !important;
    font-size: 22px;
    padding-left: 10px;
}
#elearning3Step1 .left, #elearning3Step1 .select, #elearning3Step1 .watch {
    padding-left: 0;
}
.startDate, .expDuration {
    padding-bottom: 25px;
}
.eventDesc {
    height: 40px;
    width: 100%;
    opacity: 0.5;
}
#elearning3Step1 .right {
    padding-right: 0;
}
.select .step1Select {
    width: 72%;
    height: 35px;
    border: 1px solid #f3f3f3;
    border-radius: 3px;
}
.edit_event .elearning3Step1.select h6.h6color {
    padding-top: 40px;
}
#elearning3Step1 .description {
    padding-left: 0;
    padding-top: 40px;
}
.add {
    color: #2fafdf;
}
#edit_event_form_submit {
    width: 97% !important;
    background-color: #70c989 !important;
    color: white !important;
    padding: 15px;
    font-size: 18px;
    margin-top: 70px;
}
.edit_event .col-lg-6.left input:not(:last-child), .edit_event .col-lg-6.right input, .step1Iput.editEvent {
    margin-bottom: 25px;
}
.leave-blann {
    margin-top: -15px;
    display: block;
    font-style: italic;
}
.integreations_img {
    height: 182px;
    width: 29%;
    float: left;
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 30px;
    background-color: rgba(235, 235, 235, 0.21);
    border-radius: 10px;
    position: relative;
}
.hs-elearning .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: none;
    vertical-align: middle;
}
.hs-elearning .prev-edit {
    padding: 0px 10px;
    background: #1E6DAA;
    margin: 0;
    border-radius: 5px;
}
.preview_url, .preview_url:hover {
    color: #fff;
}
#exportButton {
    background-color: #78c8ce !important;
    height: 44px;
    font-weight: 500;
}
.btn a, .btn a:hover {
    color: #fff;
}
.hs-elearning .inactive {
    color: #b64a4a;
}
#website-personal-li a:active {
    background: #78c8ce;
}

#registrants_table_filter {
    padding-bottom: 30px;
}
.fm_vg .custom_dashboard .custom_dashboard_text {
    text-align: center;
    display: block;
    font-size: 40px;
    color: #717171;
}
.fm_vg .custom_dashboard .custom_dashboard_line {
    width: 80%;
    height: 3px;
    background: #4d9edc;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
.fm_vg .custom_dashboard img {
    margin: 15px 0;
}
.courses_events_students_earnings .numCoord {

    position: absolute;
    right: 30px;
    bottom: 10px;
    color: #404040;
}
.buttons-csv {
    background: #009dd8;
    color: #fff;
    padding: 10px 25px;
    border-radius: 2px;
    display: inline-block;
}
.buttons-csv:hover {
    color: #fff
}
.max-cap {
    clear:both;
}











/*#vbp-login-form > .inside_login_form > label:nth-child(2){*/
/*overflow: hidden;*/
/*visibility: hidden;*/
/*height: 0;*/
/*}*/

.no.content {
    padding: 0;
}
.no.content .vc_row-has-fill {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.home-page #content {padding-bottom: 0 !important}

#buddypress .item-list-tabs#object-nav li {background-color: #444;}

#buddypress .item-list-tabs#object-nav li a {color: #fff;}
.wpb_text_column.wpb_content_element  {margin-bottom: 20px !important;}

.my-account .container {width: 100%;}

.current.selected {border-color: #1E6DAA !important; background: #1E6DAA !important}

.btn.btn-primary {background: #1E6DAA;}

#exportButton {background-color: #1E6DAA !important;}

#exportButton a:hover, .btn.btn-primary:hover {color:#fff;}

#website-personal-li:nth-child(6) {
    display: none;
}
#website-personal-li:last-child(5) {
    display:none;
}

input#registrants_table_checkbox, .website-menu {
    display: none;
}
.settings-integrations .eLearning-website .website-menu,
.form_builder .eLearning-website .website-menu{display: block;}
.current.selected a:hover {
    background: #1E6DAA !important;
    color: #fff !important;

}
.website-personal-li a:hover {color:#fff;}
.elearning3Price {
    margin: 0 !important
}

.elearning3Price span {
    display: block;
    /*margin-bottom: 40px;*/
    font-style: italic;
}
.ondemand{
    margin: 40px 0;
}


.inputs {
    display: inline-block;
    width: 80%;
    margin-top: 30px;
}
.elearning3Price .inputs, .ondemand {
 /*   margin-bottom: 40px;*/
}
.content.clearfix  {
    padding-top: 0;
}
.on-demand {
    width: 33%;
    margin-bottom: 10px;
}
.description {
    margin-top: 30px;
    padding: 0 !important;
}
.evantTitle .select {
    padding: 0;
}
.maxcap {
    width: 15%;
    margin-bottom: 10px;
}
.check-to-publish {
    float: left;
    margin-right: 10px !important;
}
.step4inputright {
    width: 100%;
    margin-bottom: 20px;
}
.step4 b {
    font-size: 13px;
}
.step4textarea {
    margin-bottom: 20px;
}
.form.inputs {
    padding-left: 15px;
}
.step5-blocks {
    background: #f5f5f5;
    border-radius: 10px;
    padding: 15px 0;
}





.sixth-step .save-us-draft  {
    width: 140px;
    font-size: 12px;
    border: none !important;
    padding: 12px ;
    border-radius: 5px;
    float: left;
    background-color: #bbb !important;
    margin-right: 20px;
}
.sixth-step .publish-btn {
    width: 140px;
    font-size: 12px;
    border: none !important;
    padding: 12px ;
    border-radius: 5px;
    float: left;
    margin-top: 0;

}

.sixth-step .checkbox-text {
    margin: 30px 0;
    display: block;
}
.checkbox-buttons {
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 0;
}
.date-time {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}


/**** step 5 styles ****/


.edit_events_ando .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}
.edit_events_ando .switch input {
    display: none;
}
.edit_events_ando .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.edit_events_ando .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.edit_events_ando input:checked + .slider {
    background-color: #2196F3;
}
.edit_events_ando input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
.edit_events_ando input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */

.edit_events_ando .slider.round {
    border-radius: 34px;
}
.edit_events_ando .slider.round:before {
    border-radius: 50%;
}
.edit_events_ando .font_h1 {
    font-size: 30px;
    margin-bottom: 80px;
}
.edit_events_ando .font_h2 {
    font-size: 20px;
    padding-bottom: 3px
}
.edit_events_ando .switch_connect {
    margin-top: 23px;
    width: 788px;
}
.edit_events_ando .switch_connect span {
    padding-top: 6px;
    font-size: 15px;
    font-style: oblique;
}
.edit_events_ando .switch_w {
    width: 74% !important;
    float: right
}
.edit_events_ando .switch_w span {
    font-size: 17px;
    font-weight: bold;
    padding-right: 10px;
    color: #8a8989;
    float: left;
    margin-top: 4px;
}
.edit_events_ando .switch_w input {
    width: 77%;
    height: 31px;
    float: left;
}
.edit_events_ando .switch_w button {
    width: 70px;
    border: none;
    height: 31px;
    margin-left: 9px;
    background-color: #0e62c1;
    border-radius: 3px;
    float: right;
}
.edit_events_ando .row {
    margin-bottom: 50px;
}
.edit_events_ando .text_left {
    float: right;
    padding-top: 40px;
    left: 14%;
    position: relative;
    color: red;
    font-weight: bold;
}
.edit_events_ando .col-md-9 p {
    font-style: italic;
}
.webinar-id input {
    float: right;
}
.webinar-id p {
    float: left;
    margin-top: 5px;
}
.webinar-id {
    
    position: absolute;
    right: 0;
    top: 255px;
    width: 95%;
}








.switch {
    position: relative;
    height: 40px;
    width: 250px;
    background: rgb(246, 246, 246);
    border-radius: 20px;
    margin-bottom: 10px;
}

.switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 50%;
    line-height: 38px;
    font-size: 15px;
    color: #c2c2c2;
    text-align: center;
    cursor: pointer;
}

.switch-label:active {
    font-weight: bold;
}

.switch-label-off {
    padding-left: 2px;
}

.switch-label-on {
    padding-right: 2px;
}

.switch-input {
    display: none !important;
}

.switch-input:checked + .switch-label {
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
    /* Note: left: 50% doesn't transition in WebKit */
    left: 125px;
}

.switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    left: 2px;
    width: 125px;
    height: 40px;
    background: #70c989;
    border-radius: 20px;    display: block;
    position: absolute;
    z-index: 1;
    left: 2px;
    width: 125px;
    height: 40px;
    background: #6ec787;
    border-radius: 20px;
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

.switch-blue .switch-selection {
    background: #3aa2d0;
    background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
    background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
    background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
    background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}
#all_registered_users{font-size: 13px;}


.first-step-blocks {
    width: 285px;
    height: 250px;
    background: #f3f3f3;
    float: left;
    border-radius: 5px;
    margin-right: 35px;
    margin-bottom: 40px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.steps-images {
    width: 45%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 86px;

}
.first-step {
    display: inline-block;
    margin: 0 auto;
    margin-left: 45px;
}

.lms_settings_event_types.active {
    background: #0e62c1;
}
.lms_settings_event_types.active h4 {
    color: #fff;
}
.lms_settings_event_types.active span {
    color: #fff;
}
.event-type-radio {
    display: none !important;
}
.next-btn , .back-btn {
    display: block;
    clear: both;
    background: #0e62c1;
    border: none !important;
    font-weight: 500;
    font-size: 17px;
    border-radius: 5px;
    padding: 10px 30px;
    margin-right: 20px;
}
.next-btn {
    float: right;
}

.lms_settings_event_types.active img.onstream_webinar{
    content:url("/wp-content/themes/elearning/images/webinar-checked.png");
}
.lms_settings_event_types.active img.recorded_webinar{
    content:url("/wp-content/themes/elearning/images/recorded-webinar-checked.png");
}
.lms_settings_event_types.active img.onstream_webcast{
    content:url("/wp-content/themes/elearning/images/onstream-webcast-checked.png");
}
.lms_settings_event_types.active img.onstream_customtypes{
    content:url("/wp-content/themes/elearning/images/other-types-checked.png");
}
.eventDesc {
    height: 33px;
    width: 75%;
}
.basic-inputs {
    width: 20%;
    float: left;
  
}
.basic-inputs input {
    height: 33px;
}
.basic-select {
    width: 45%;
    float: left;
    margin-bottom: 30px;
    margin-right: 20px;
}

.basic-select select{
    width: 80%;
}
.timezone select {
    width: 75%;
    border-radius: 0 !important;
    border: 1px solid #e0e0e0 !important;
}


/**** Jquery Steps styles *******/


/*
    Common
*/

.wizard,
.tabcontrol
{
    display: block;
    width: 100%;
    overflow: hidden;
}

.wizard a,
.tabcontrol a
{
    outline: 0;
}

.wizard ul,
.tabcontrol ul
{
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.wizard ul > li,
.tabcontrol ul > li
{
    display: block;
    padding: 0;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info
{
    position: absolute;
    left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title
{
    position: absolute;
    left: -999em;
}



/*
    Wizard
*/

.wizard > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.wizard.vertical > .steps
{
    display: inline;
    float: left;
    width: 30%;
}

.wizard > .steps .number
{
    font-size: 1.429em;
}

.wizard > .steps > ul > li
{
    width: 25%;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li
{
    float: left;
}

.wizard.vertical > .steps > ul > li
{
    float: none;
    width: 100%;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active
{
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active
{
    background: #eee;
    color: #aaa;
    cursor: default;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active
{
    background: #2184be;
    color: #fff;
    cursor: default;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active
{
    background: #9dc8e2;
    color: #fff;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active
{
    background: #ff3111;
    color: #fff;
}

.wizard > .content
{

    display: block;
    margin: 0.5em;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    width: auto;
padding: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard.vertical > .content
{
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em 2.5%;
    width: 65%;
}

.wizard > .content > .body
{
    float: left;

    padding: 2.5%;
}

.wizard > .content > .body ul
{
    list-style: disc !important;
}

.wizard > .content > .body ul > li
{
    display: list-item;
}

.wizard > .content > .body > iframe
{
    border: 0 none;
    width: 100%;
    height: 100%;
}

.wizard > .content > .body input
{
    display: block;
    border: 1px solid #ccc;
}

.wizard > .content > .body input[type="checkbox"]
{
    display: inline-block;
}

.wizard > .content > .body input.error
{
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

.wizard > .content > .body label
{
    display: inline-block;
    margin-bottom: 0.5em;
}

.wizard > .content > .body label.error
{
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}

.wizard > .actions
{
    position: relative;
    display: block;
    text-align: right;
    width: 75%;
    margin-left: 45px;
}

.wizard.vertical > .actions
{
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}

.wizard > .actions > ul
{
    display: inline-block;
    text-align: right;
    width: 96%;
}

.wizard > .actions > ul > li
{
    margin: 0 0.5em;
}

.wizard.vertical > .actions > ul > li
{
    margin: 0 0 0 1em;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active
{
    background: #0e62c1;
    color: #fff;
    display: block;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 17px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active
{
    background: #eee;
    color: #aaa;
}

.wizard > .loading
{
}

.wizard > .loading .spinner
{
}

.actions.clearfix ul li:nth-child(2) {
    float: right;
}
.actions.clearfix ul li:nth-child(3) {
    float: right;
}

/*
    Tabcontrol
*/

.tabcontrol > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.tabcontrol > .steps > ul
{
    position: relative;
    margin: 6px 0 0 0;
    top: 1px;
    z-index: 1;
}

.tabcontrol > .steps > ul > li
{
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabcontrol > .steps > ul > li:hover
{
    background: #edecec;
    border: 1px solid #bbb;
    padding: 0;
}

.tabcontrol > .steps > ul > li.current
{
    background: #fff;
    border: 1px solid #bbb;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
}

.tabcontrol > .steps > ul > li > a
{
    color: #5f5f5f;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}

.tabcontrol > .steps > ul > li > a:hover
{
    text-decoration: none;
}

.tabcontrol > .steps > ul > li.current > a
{
    padding: 15px 30px 10px 30px;
}

.tabcontrol > .content
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
}

.tabcontrol > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.tabcontrol > .content > .body ul
{
    list-style: disc !important;
}

.tabcontrol > .content > .body ul > li
{
    display: list-item;
}

/*** customs ***/

.steps.clearfix  {
    display: none;
}

.all-blocks {
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

/*Form Builder Page*/

.form_builder .left_nav_menu {padding-right: 0;}
.form_builder .col-md-10.col-sm-8 {padding: 0;}
.form_builder .eLearning-website {margin-left: 0;}
.form_builder .container-fluid.fm_right_grid.website-menu {padding: 0; background: #444;}
.form_builder #item-nav {padding-top: 0;}
.form_builder .wrap {padding-left: 25px;}
.form_builder .website-menu .list-group-item {padding: 0; background: #444; border: 0;}
.form_builder .website-menu .list-group {margin-bottom: 0;}
.form_builder .website-menu .list-group-item a {color: #fff;}
.form_builder .website-menu .nav>li>a:focus, .form_builder .website-menu .nav>li>a:hover {background: transparent;}

.settings-integrations .left_nav_menu {padding-right: 0;}
.settings-integrations .col-md-10.col-sm-8 {padding: 0; padding-left: 3px;}
.settings-integrations .eLearning-website {margin-left: 0;}
.settings-integrations .container-fluid.fm_right_grid.website-menu {padding: 0; background: #444;}
.settings-integrations #item-nav {padding-top: 0;}
.settings-integrations .wrap {padding-left: 25px;}
.settings-integrations .website-menu .list-group-item {padding: 0; background: #444; border: 0;}
.settings-integrations .website-menu .list-group {margin-bottom: 0;}
.settings-integrations .website-menu .list-group-item a {color: #fff;}
.settings-integrations .website-menu .nav>li>a:focus, .form_builder .website-menu .nav>li>a:hover {background: transparent;}
.settings-integrations .Integrations_text {padding-left: 30px;}

/*Event Edit And Create Page*/
.multiselect {
    width: 200px;
}
.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label {
    display: block;
    margin-bottom: 0;
    padding: 5px 0 5px 10px;
}

#checkboxes input {
    position: relative;
    top: 2px;
    margin-right: 10px;
}

#checkboxes label:hover {
    background-color: #0e62c1;
    color: #fff;
}

/*User Menu Section*/
#eLearning_bp_login ul:last-child li:nth-child(2) {display: none;}

/*REGISTRANTS*/

.users #registrants_table_filter {padding-bottom: 0;}
.users #registrants_table_filter .search_icon {width: 40px;}
.export_users_button {padding-left: 0;}


/*Edit Event Page TB*/
body .edit_event section {padding-top: 0 !important;}
body .edit_event section h2 {margin-top: 0;}
#current_event_onstream_customtypes img {width: 35%;}
#current_event_recorded_webinar img {width: 38%;}
#current_event_onstream_webinar img {width: 42%;}
#edit_event_form .content {margin-top: 0;}



.password_checkbox {
    margin-top: 30px;
}

.password_checkbox #password_checkbox {
    margin: 10px;
}