
/*========================================================================*/
/*   07. CONTENT
/*========================================================================*/
.content{
	margin:30px 0;
	padding:30px;
	background:#FFF;
	border-radius:2px;
	display: inline-block;
	width: 100%;
	position: relative;
	&.padding_adjusted{
		padding:30px 15px !important;
	}
	.main_content ul,ul.list{
		list-style: disc inside none;
	}
	.main_content ol{
		list-style: decimal inside none;
	}
	.eLearning_editor{
		margin: 0 -15px;
	}
}

.unit_content{
	margin:30px 0;
	padding:20px;
	background:#FFF;
	border-radius:2px;
	display: inline-block;
	width: 100%;
	position: relative;
	&.loading{opacity: 0.4;}
}

.page .content,
.single .content,
.padder.content{
	margin:30px 0;
	padding:30px;
	background:#FFF;
	border-radius:2px;
	display: inline-block;
	width: 100%;
}


.page .sidebar,
.single .sidebar{
	padding-top:30px;
}



#content{
	& + .stripe{
		margin-top:30px;
	}
	&.no-content{
		margin:0 !important;
		padding:0 !important;
		background:transparent;
		border:none;
		& + .stripe{
			margin:0;
		}
	}
	.content{
		.cats ul,
		.tags ul,
		ul.grid,
		ul.order_details,
		ul.question_options,
		ul.eLearning_filterable{
			list-style: none;
		}
	}
}



h4.block_title + .date{line-height:1.4;}


.indate{
	opacity: 0.4;
	font-weight: 600;
	font-size: 11px;
	text-transform: uppercase;
	float: left;
	margin: 0 10px 0 0;
}
.course_title > h2{
	margin:0;
}





/*========================================================================*/
/*   07. Breadcrumbs
/*========================================================================*/


.bcrow{
	text-align: left;
	padding: 12px 0;
	line-height:1;
	border-bottom: 1px solid $bordercolor;
	border-top: 1px solid $bordercolor;
	margin-top: 15px;
	display: inline-block;
	width: 100%;
}

.col-md-3 .breadcrumbs{
	padding: 20px 0 10px;
}

.breadcrumbs{
	display: inline-block;
	padding:0;
	margin:0;
	list-style: none !important;
 	li{
		float:left;
		margin-right:7px;
		font-size:11px;
		text-transform: uppercase;
		padding-bottom:2px;
		&+li:before{
			content: "/";
			color:$breadcrumbscolor;
			font-size: 10px;
			margin-right:7px;
		}
		a{font-weight:400;color:$breadcrumbscolor;}
		&.current{
			span{
				font-weight:600;
			}
		}
	}
}


/*========================================================================*/
/*   07. Blog 
/*========================================================================*/

.meta{
	float: left;
	text-align: right;
	font-size: 14px;
	border-right: 1px solid $bordercolor;
	color:$light-text-color;
	.date{
		margin:0;
		.day{
			font-size: 48px;
			font-weight: 700;
			margin: 0;
			opacity:0.4;
			line-height: 1;
			padding: 0 10px 10px 0;
		}
		.month{
			padding: 10px 10px 0 0;
			margin: 0;
			text-transform: uppercase;
			font-weight: 600;
			border-top: 1px solid $bordercolor;
			font-size: 12px;
			letter-spacing: 2px;
		}
	}
	a{
		color:$light-text-color;
	}
}


/*========================================================================*/
/*   07. Blogposts Blog Page
/*========================================================================*/

.blogpost{
	clear:both;
	margin-bottom:60px;
	.featured{
		max-width: 200px;
		height: auto;
		float: left;
		margin: 0 20px;
	}
	h3{
		margin-top:0;
	}

	img{
		height:auto;
	}
	.excerpt{
		margin-left:90px;
		&.thumb{
			margin-left:310px;
		}
	}
	.cats{
		padding: 4px 0;
		margin: 4px 0 10px;
		border-top: 1px dotted $bordercolor;
		border-bottom: 1px dotted $bordercolor;
	}
}


.cats{
	ul{
		float:left;
		list-style: none;
		li{
			float:left; 
			margin-right:5px;
		}
	}
	p{
		margin:0;
		color:$light-text-color;
	}	
	a{
		font-size: 11px;
		font-weight: 600;
		color:$light-text-color;
		text-transform: uppercase;
		&:hover{
			color:$primarybg;
		}
	}
} 



/*========================================================================*/
/*   07. PAGINATION
/*========================================================================*/


.pagination{
	clear:both;
	display: inline-block;
	width:100%;
	margin:20px 0;
	font-size:14px;
	color:#444;
	.page-numbers.current,
	span,label{
		padding:2px 6px;
		border-radius:2px;
		margin-right: 5px;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 600;
		color: #444;
		border:2px solid $bordercolor;
		background:$bordercolor;
	}
	.page-numbers.current,span.current{
		background: $primarybg;
		border-color:$primarybg;
		color: $primarycolor;
		font-weight:600;
	}
	a.page-numbers,a{
		background:none;
		padding:2px 6px;
		border-radius:2px;
		margin-right: 5px;
		font-size: 11px;
		color: #444;
		background:$bordercolor;
		border:2px solid $bordercolor;
		text-transform: uppercase;
		font-weight: 600;
	}
}

.content .pagination{
	margin:0;
}



/*========================================================================*/
/*   07. MISC
/*========================================================================*/

.expand header{background: none !important;}
