/*========================================================================*/
/*   07. TITILE
/*========================================================================*/

section#title{
	padding: 0;
}

.single section#title{
	padding-top: 30px;
}
.pagetitle{
	h1{
		margin:0;
		padding:0;
		font-weight:600;
	}	
	h5{
		margin-bottom:10px;
	}
} 

.single-eLearning-assignment .pagetitle > span a{
 	margin-left:0;
}

.content header {
    background: none;
}