
/* GLOBAL
------------------------------------------------------- */
#eLearning-popup {
	font: 12px/20px  sans-serif;
	overflow-x: hidden;
        overflow-y: scroll;
        background:#F9f9f9;
        border-bottom:1px solid #EFEFEF;
        box-shadow: 0 21px 0 #F6F6F6;
}
.mce-ico.mce-i-icon.eLearning-icon{
    width:20px;
    height:20px;
    display: block;
    background:url(../images/icon.png) no-repeat;
}
#eLearning-popup * {
	font: 12px/20px Arial, Helvetica, sans-serif;	
}

#TB_window{
  z-index: 999999 !important;
  #TB_ajaxContent{
    padding:0;
  }
}

.eLearning-save{
    font-weight: bold;
    cursor: pointer;
    margin: 20px 0;
    padding: 5px 15px;    
    -moz-box-shadow: 1px 1px 3px #ddd;
    -webkit-box-shadow: 1px 1px 3px #ddd;
    box-shadow: 1px 1px 3px #ddd; 
             -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #DE9D2A;
  background: #FEDA71;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEDA71), color-stop(100%,#FEBA48));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feda71', endColorstr='#feba48',GradientType=0 );
  font-weight: bold;
  font-size: 11px;
  color: #7F5429;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.06);
  text-decoration: none;
}

.field .iris-picker.iris-border{
    margin-left:200px;
}

.upload_directory{
  padding:10px 20px;
}
.upload_dirs_navigation{
  text-align:right; 
  padding:5px 10px 5px 5px; 
  margin:5px 20px;
}
#eLearning-sc-form-live-preview{
    display:none;
}
/* form side */
#eLearning-sc-form-wrap {
	float: left;
}
#eLearning-sc-form-wrap #eLearning-sc-form-head {
	padding: 15px;
	color: #fff;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 0 #000;
	border-top: 1px solid #333;
  background: #262626 url(../images/bg1.png);
	border-bottom: 1px solid white;
}
#eLearning-popup.no_preview #eLearning-sc-form-wrap #eLearning-sc-form-head {
	width: 830px;
}
#eLearning-sc-form-wrap #eLearning-sc-form {
	padding: 15px;
}

.eLearning-btn{display: block;
padding: 6px 10px;
background: white;
border: 1px solid #E8E8E8;
color: #FFF;
font-size: 12px;
text-decoration: none;
font-weight: 500;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-moz-box-shadow: 0 2px 0 0 #e8e8e8;
-webkit-box-shadow: 0 2px 0 0 #E8E8E8;
box-shadow: 0 2px 0 0 #E8E8E8;}

.author-social-remove{
    font-size:18px;
    color:#dd514c;
}
.green{
color: white !important;
background: #5EA028;
border: none;
-moz-box-shadow: 0 2px 0 0 #467f18;
-webkit-box-shadow: 0 2px 0 0 #467F18;
box-shadow: 0 2px 0 0 #467F18;
}

.green:hover{
    box-shadow:0 2px 0 0 #5EA028;
}

.green:active{
    box-shadow: 0 -2px 0 -1px #467F18;
}
/* FORM
------------------------------------------------------- */

#eLearning-sc-form-table tbody tr.form-row {
	display: block;
	padding: 0;
	border-bottom: solid 1px #eaeaea;
}
#eLearning-sc-form-table tbody:last-child tr.form-row {
	border-bottom: none;
}
#eLearning-sc-form-table tbody tr.form-row .label {
	width: 130px;
        color:#888;
	text-align: left;
	vertical-align: top;
	line-height: 35px;
	padding-right: 20px;
}
#eLearning-sc-form-table tbody tr.form-row .field {
	width: 675px;
        max-height:300px;
        overflow-y:scroll;
}
#eLearning-sc-form-table tbody tr.form-row .eLearning-insert {
	color: #7F5429;
        padding:4px 24px;
        display:inline-block;
        margin:0;
}

/* child rows, sortable */
#eLearning-sc-form-table .has-child #form-child-add {
	display: block;
	padding: 0;
	height: 30px;
	line-height: 30px;
	margin-bottom: 20px;
	font-size: 16px;
	text-align: center;
}
#eLearning-sc-form-table .has-child .child-clone-rows {
	display: block;
}


#eLearning-sc-form-table .has-child .child-clone-rows .child-clone-row {
	padding: 2px 15px 15px;
	background: #f7f7f7;
	border: solid 1px #e0e0e0;
	margin-bottom: 10px;
	cursor: move;
	-moz-border-radius: 5px;
	border-radius: 5px;
        position:relative;
}
#eLearning-sc-form-table .has-child .sortable-placeholder {
	border: dashed 2px #e0e0e0;
	margin-bottom: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #f7f7f7;
	height: 40px;
}
#eLearning-sc-form-table .has-child .child-clone-rows .child-clone-row .child-clone-row-form {
	display: inline-block;
        width:100%;
}
#eLearning-sc-form-table .has-child .child-clone-rows .child-clone-row .child-clone-row-form .child-clone-row-form-row {
	display: block;
	padding: 0;
	border-bottom: solid 1px #ddd;
}
#eLearning-sc-form-table .has-child .child-clone-rows .child-clone-row .child-clone-row-form .child-clone-row-form-row .child-clone-row-label label {
	display: block;
	padding-bottom: 2px;
	line-height: 1;
}
#eLearning-sc-form-table .has-child .child-clone-rows .child-clone-row .child-clone-row-remove {
	color: #FF0000;
	padding: 1px;
        position:absolute;
        top:10px;
        right:10px;
        width:16px;
        height:16px;
        text-indent:-9999px;
        background: url(../images/cross.png) no-repeat;
}

/* form elements */

/* - all */
#eLearning-sc-form-table tbody tr.form-row .eLearning-form-text,
#eLearning-sc-form-table tbody tr.form-row .eLearning-form-textarea,
#eLearning-sc-form-table tbody tr.form-row .eLearning-form-select {
	width: 200px;
        padding: 2px 5px;
        border-left: solid 1px #ddd;
        border-top: solid 1px #ddd;
        float: left;
        margin-right: 10px;
}
#eLearning-sc-form-table tbody tr.form-row.has-child .eLearning-form-text,
#eLearning-sc-form-table tbody tr.form-row.has-child .eLearning-form-textarea,
#eLearning-sc-form-table tbody tr.form-row.has-child .eLearning-form-select {
	background: #fff;
}

.child-clone-row-field .iris-picker.show{
    margin-left:400px;
    margin-top:-100px;
}
/* - textarea */
#eLearning-sc-form-table tbody tr.form-row .eLearning-form-textarea {
	height: 50px;
        width: 320px;
}
#eLearning-sc-form-table tbody tr.form-row.has-child .eLearning-form-textarea {
	height: 50px;
        width: 485px;
}

/* - select */
#eLearning-sc-form-table tbody tr.form-row .eLearning-form-select {
	display: block;
	height: 25px;
}
#eLearning-sc-form-table tbody tr.form-row.has-child .eLearning-form-select {
	width: auto;
	height: 25px;
}

/* - desc */
#eLearning-sc-form-table tbody tr.form-row .field .eLearning-form-desc,
#eLearning-sc-form-table tbody tr.form-row .child-clone-row-desc {
	display: block;
	font-size:  9px;
	color: #aaa;
	font-style: italic;
	padding: 0px;
}

/* Hide outline on focus */
#content_eLearning_button { outline: none; }


#menu_content_content_eLearning_button_menu_tbl{ background:#F6F6F6;}
#menu_content_content_eLearning_button_menu_tbl td{
border-bottom: 1px solid #DDD;
}

#menu_content_content_eLearning_button_menu_tbl span.mceIcon{
    width:10px;
    height:10px;
    background:url(../images/arrow.png) no-repeat;
    display:block;
    margin: 8px 4px;
}
#menu_content_content_eLearning_button_menu_tbl span.mceText{
     margin: 2px 8px;
     color:#666;
}



li.child-clone-row-form-row{
    clear:both;
    color:#888 !important;
    border-bottom:none !important;
}

.child-clone-row-label{
    width:180px;
    float:left;
    padding-top:10px;
}


.mceMenuItem{
    background: #F6f6f6;
border: 1px solid #DDD;
height: 20px;
overflow: hidden;
width: 135px;
}
.mceMenuItem:even{
    margin-left: 135px;
display: block;
position: absolute;
margin-top: -29px;
border-left:none;
padding: 0 4px 8px;
width: 135px;
border: 1px solid #DDD;
}



.mceMenuItem td{
    border:none;
}

.the-icons{
    overflow-y: scroll;
    max-height: 85px;
}
.the-icons span{
    display:none;
}

.the-icons i{
    padding:3px 5px;
    background:#F6F6F6;
    border-left:1px solid #EFEFEF;
    border-top:1px solid #EFEFEF;
    float:left;
    margin:0;
}
.the-icons i.clicked{
    background:#CCC;
}
.the-icons i:hover{
    background:#F1F1F1;
    cursor: pointer;
}


.iris-picker.show{
    position: absolute;
    margin-left: 200px;
    margin-top:-100px;
    display:block;
    z-index:9;
} 

.slider-range.ui-slider{
    margin-left: 80px;
    margin-top:8px;
    max-width: 60%;
    position:relative;
    height:8px
}

.ui-slider-range{
    height:8px
}
.popup-slider{
    max-width:60px;
}

.ui-widget-content {
background: #ffffff;
color: #222222;
}

.ui-widget-content.iris-slider-offset{
    background:none;
}

.ui-slider-horizontal .ui-slider-range-min {
left: 0;
}

.ui-slider-horizontal .ui-slider-range {
top: 0;
height: 100%;
}

.ui-slider .ui-slider-range {
position: absolute;
z-index: 1;
font-size: .7em;
display: block;
border: 0;
}

.ui-widget-header {
border: 1px solid #aaaaaa;
background: #cccccc;
color: #222222;
font-weight: bold;
}

.ui-slider-horizontal .ui-slider-handle {
top: -.3em;
margin-left: -.6em;
}

.ui-slider .ui-slider-handle {
position: absolute;
z-index: 2;
width: 1.2em;
height: 1.2em;
cursor: default;
}

.ui-state-default, .ui-widget-content .ui-state-default {
border: 1px solid #d3d3d3;
background: #e6e6e6 ;
font-weight: normal;
color: #555555;
outline: none;
}

.refresh{
    float:left;
    width:30px;
    height:30px;
    background: #FFF url(../images/refresh.png) no-repeat 3px 2px;
    display:block;
    border:1px solid #EFEFEF;
}

#eLearning_options.eLearning-cinput{
    display:none;
}

.progress {
overflow: hidden;
height: 30px;
margin-bottom: 20px;
background-color: #F6F6F6;
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
}


@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f6f6f6;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.progress .bar {
  width: 0%;
  height: 100%;
  color: #ffffff;
  float: left;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress .bar + .bar {
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
  -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
  box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
}
.progress-striped .bar {
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
}
.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-danger .bar,
.progress .bar-danger {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0);
}
.progress-danger.progress-striped .bar,
.progress-striped .bar-danger {
  background-color: #ee5f5b;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-success .bar,
.progress .bar-success {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
}
.progress-success.progress-striped .bar,
.progress-striped .bar-success {
  background-color: #62c462;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-info .bar,
.progress .bar-info {
  background-color: #4bb1cf;
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0);
}
.progress-info.progress-striped .bar,
.progress-striped .bar-info {
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-warning .bar,
.progress .bar-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}
.progress-warning.progress-striped .bar,
.progress-striped .bar-warning {
  background-color: #fbb450;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}


.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

.alert button.close{float:right;}
.alert,
.alert h4 {
  color: #c09853;
}
.alert h4 {
  margin: 0;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-success h4 {
  color: #468847;
}
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-info h4 {
  color: #3a87ad;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}

.ui-dialog{
    z-index:300002;
}