.h5p-image-juxtaposition {
  width: auto;
  margin: 0 auto;
  /* Will prevent flickering when sliding */
  -ms-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.h5p-image-juxtaposition .h5p-image-juxtaposition-title {
  width: auto;
  margin: 16px;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}
.h5p-image-juxtaposition .h5p-image-juxtaposition-missing-images {
  font-size: 1.5em;
  text-align: center;
  padding: 2em;
}

/* From Juxtapose */
div.h5p-image-juxtaposition-juxtapose {
	width: auto;
	font-family: Helvetica, Arial, sans-serif;
}

div.h5p-image-juxtaposition-slider {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

div.h5p-image-juxtaposition-handle {
	position: absolute;
	height: 100%;
	width: 40px;
	cursor: col-resize;
	z-index: 15;
	margin-left: -20px;
}

.h5p-image-juxtaposition-vertical div.h5p-image-juxtaposition-handle {
	height: 40px;
	width: 100%;
	cursor: row-resize;
	margin-top: -20px;
	margin-left: 0;
}

div.h5p-image-juxtaposition-control {
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	width: 3px;
	background-color: #f3f3f3;
}

.h5p-image-juxtaposition-vertical div.h5p-image-juxtaposition-control {
	height: 3px;
	width: 100%;
	background-color: #f3f3f3;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

div.h5p-image-juxtaposition-controller {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	height: 60px;
	width: 9px;
	margin-left: -3px;
	background-color: #f3f3f3;
}

.h5p-image-juxtaposition-vertical div.h5p-image-juxtaposition-controller {
	height: 9px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	top: -3px;
	position: relative;
}

.h5p-image-juxtaposition-horizontal div.h5p-image-juxtaposition-arrow {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	width: 0;
	height: 0;
	transition: all .2s ease;
}

.h5p-image-juxtaposition-vertical div.h5p-image-juxtaposition-arrow {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 0;
	height: 0;
	transition: all .2s ease;
}

.h5p-image-juxtaposition-horizontal div.h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-left {
	left: 2px;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent #f3f3f3 transparent transparent;
}

.h5p-image-juxtaposition-horizontal div.h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-right {
	right: 2px;
	border-style: solid;
	border-width: 8px 0 8px 8px;
	border-color: transparent transparent transparent #f3f3f3;
}

.h5p-image-juxtaposition-vertical div.h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-left {
	left: 0px;
	top: 2px;
	border-style: solid;
	border-width: 0px 8px 8px 8px;
	border-color: transparent transparent #f3f3f3 transparent;
}

.h5p-image-juxtaposition-vertical div.h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-right {
	right: 0px;
	top: initial;
	bottom: 2px;
	border-style: solid;
	border-width: 8px 8px 0 8px;
	border-color: #f3f3f3 transparent transparent transparent;
}

div.h5p-image-juxtaposition-handle:hover div.h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-left,
div.h5p-image-juxtaposition-handle:active div.h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-left {
	left: -1px;
}

div.h5p-image-juxtaposition-handle:hover div.h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-right,
div.h5p-image-juxtaposition-handle:active div.h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-right {
	right: -1px;
}

.h5p-image-juxtaposition-vertical div.h5p-image-juxtaposition-handle:hover div.h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-left,
.h5p-image-juxtaposition-vertical div.h5p-image-juxtaposition-handle:active div.h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-left {
	left: 0px;
	top: 0px;
}

.h5p-image-juxtaposition-vertical div.h5p-image-juxtaposition-handle:hover div.h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-right,
.h5p-image-juxtaposition-vertical div.h5p-image-juxtaposition-handle:active div.h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-right {
	right: 0px;
	bottom: 0px;
}


div.h5p-image-juxtaposition-image {
	position: absolute;
	height: 100%;
	display: inline-block;
	/* top: 0; */
	overflow: hidden;
	-webkit-backface-visibility: hidden;
}

.h5p-image-juxtaposition-vertical div.h5p-image-juxtaposition-image {
	width: 100%;
	left: 0;
	top: initial;
}

div.h5p-image-juxtaposition-image img {
}

.h5p-image-juxtaposition-vertical div.h5p-image-juxtaposition-image img {
	height: initial;
	width: 100%;
	z-index: 5;
	position: absolute;
	margin-bottom: 0;

	max-height: none;
	max-width: none;
	max-height: initial;
	max-width: initial;
}

.h5p-image-juxtaposition-horizontal div.h5p-image-juxtaposition-image img {
	height: 100%;
	z-index: 5;
	position: absolute;
	margin-bottom: 0;

	max-height: none;
	max-width: none;
	max-height: initial;
	max-width: initial;
}

div.h5p-image-juxtaposition-image.h5p-image-juxtaposition-left {
	left: 0;
	background-position: left;
}

div.h5p-image-juxtaposition-image.h5p-image-juxtaposition-left img {
	left: 0;
}

div.h5p-image-juxtaposition-image.h5p-image-juxtaposition-right {
	right: 0;
	background-position: right;
}

div.h5p-image-juxtaposition-image.h5p-image-juxtaposition-right img {
	right: 0;
	bottom: 0;
}


.h5p-image-juxtaposition-vertical div.h5p-image-juxtaposition-image.h5p-image-juxtaposition-left {
	top: 0;
	background-position: top;
}

.h5p-image-juxtaposition-vertical div.h5p-image-juxtaposition-image.h5p-image-juxtaposition-left img {
	top: 0;
}

.h5p-image-juxtaposition-vertical div.h5p-image-juxtaposition-image.h5p-image-juxtaposition-right {
	bottom: 0;
	background-position: bottom;
}

.h5p-image-juxtaposition-vertical div.h5p-image-juxtaposition-image.h5p-image-juxtaposition-right img {
	bottom: 0;
}

div.h5p-image-juxtaposition-image div.h5p-image-juxtaposition-label {
	font-size: 1em;
	padding: .25em .75em;
	position: relative;
	display: inline-block;
	top: 0;
	background-color: #000; /* IE 8 */
	background-color: rgba(0,0,0,.7);
	color: white;
	z-index: 10;
	white-space: nowrap;
	line-height: 18px;
	vertical-align: middle;
}

div.h5p-image-juxtaposition-image.h5p-image-juxtaposition-left div.h5p-image-juxtaposition-label {
	float: left;
	left: 0;
}

div.h5p-image-juxtaposition-image.h5p-image-juxtaposition-right div.h5p-image-juxtaposition-label {
	float: right;
	right: 0;
}

.h5p-image-juxtaposition-vertical div.h5p-image-juxtaposition-image div.h5p-image-juxtaposition-label {
	display: table;
	position: absolute;
}

.h5p-image-juxtaposition-vertical div.h5p-image-juxtaposition-image.h5p-image-juxtaposition-right div.h5p-image-juxtaposition-label {
	left: 0;
	bottom: 0;
	top: initial;
}

div.h5p-image-juxtaposition-controller:focus,
div.h5p-image-juxtaposition-image.h5p-image-juxtaposition-left div.h5p-image-juxtaposition-label:focus,
div.h5p-image-juxtaposition-image.h5p-image-juxtaposition-right div.h5p-image-juxtaposition-label:focus {
  outline:none;
}
